@{
    Page.Title = "Omnius Overview";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "overviewModule";
}
@using Newtonsoft.Json.Linq;

<div id="lowerPanel">
    <div id="overviewHeaderArea">
        App: <span id="headerAppName">@ViewData["appName"]</span><br /> Metablock: <span id="headerMetablockName"></span>
    </div>
    <div id="overviewMenu">
        <button id="btnAddBlock" class="btn-omnius-rectangular">Add block</button>
        <button id="btnAddMetablock" class="btn-omnius-rectangular">Add metablock</button>
        <hr />
        <button id="btnMenuOrder" class="btn-omnius-rectangular">Order</button>
        <hr />
        <button id="btnSave" class="btn-omnius-rectangular">Save</button>
        <button id="btnLoad" class="btn-omnius-rectangular">Load</button>
        <button id="btnClear" class="btn-omnius-rectangular">Clear</button>
        <hr/>
        <button id="btnTrash" class="btn-omnius-rectangular">Trash</button>
        <hr/>
        <button id="btnGoUp" class="btn-omnius-rectangular" @((int) ViewData["parentMetablockId"] == 0 ? "disabled=disabled" : "")>Go up</button>
    </div>
    <div id="overviewPanel">
        <div class="scrollArea">
        </div>
    </div>
    <div id="zoomPanel">
        <div id="zoomLabel">Zoom 100%</div>
        <button type="button" id="btnZoomIn">Zoom in</button>
        <button type="button" id="btnZoomOut">Zoom out</button>
    </div>
    <form id="openBlockForm" method="post" action="/Tapestry/Builder">
        <input type="hidden" name="blockId" />
    </form>
    <form id="openMetablockForm" method="post" action="/Tapestry/Overview">
        <input type="hidden" name="metablockId" />
    </form>
    <input type="hidden" id="currentMetablockId" value="@ViewData["metablockId"]" />
    <input type="hidden" id="currentAppId" value="@ViewData["currentAppId"]" />
    <input type="hidden" id="parentMetablockId" value="@ViewData["parentMetablockId"]" />
</div>
<div id="add-block-dialog" title="Add block">
    <form>
        <fieldset>
            <table class="formTable">
                <tr>
                    <td><label for="block-name">Block name</label></td>
                    <td><input type="text" name="block-name" id="block-name" value="" class="text ui-widget-content ui-corner-all"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div id="add-metablock-dialog" title="Add metablock">
    <form>
        <fieldset>
            <table class="formTable">
                <tr>
                    <td><label for="metablock-name">Metablock name</label></td>
                    <td><input type="text" name="metablock-name" id="metablock-name" value="" class="text ui-widget-content ui-corner-all"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div id="rename-metablock-dialog" title="Rename metablock">
    <form>
        <fieldset>
            <label for="metablock-name">Choose a new name</label>
            <input type="text" name="metablock-name" id="metablock-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="metablock-properties-dialog" title="Metablock properties">
    <form>
        <fieldset>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <label for="p-metablock-name">Name:</label>
                            <input type="text" name="p-metablock-name" id="p-metablock-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="metablock-is-in-menu">
                                <input type="checkbox" name="metablock-is-in-menu" id="metablock-is-in-menu" value="1" />
                                Show in menu
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="metablock-set-as-initial">
                                <input type="checkbox" name="metablock-set-as-initial" id="metablock-set-as-initial" value="1" />
                                Set as initial
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

<div id="block-properties-dialog" title="Block properties">
    <form>
        <fieldset>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <label for="p-block-name">Name:</label>
                        <input type="text" name="p-block-name" id="p-block-name" value="" class="text ui-widget-content ui-corner-all" style="width: 365px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="block-is-in-menu">
                            <input type="checkbox" name="block-is-in-menu" id="block-is-in-menu" value="1"/>
                            Show in menu
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="block-set-as-initial">
                            <input type="checkbox" name="block-set-as-initial" id="block-set-as-initial" value="1"/>
                            Set as initial
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

<div id="trash-dialog" title="Trash">
    <div class="spinner-2">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <table id="block-table" class="table table-hover">
        <thead>
            <tr>
                <th>Deleted blocks</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
    <table id="metablock-table" class="table table-hover">
        <thead>
            <tr>
                <th>Deleted metablocks</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>

<div id="copy-block-dialog" title="Copy / move block">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group form-group-sm">
                <label for="c-block-name" class="control-label col-sm-3">Block name:</label>
                <div class="col-sm-9">
                    <span class="form-control-static" id="c-block-name"></span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="c-target-name" class="control-label col-sm-3">Target metablock:</label>
                <div class="col-sm-9">
                    <select name="c_target_name" id="c-target-name" class="form-control">
                        <option value="">-- select one --</option>
                        @foreach(JToken item in (JArray)ViewData["metablockList"]) {
                            <option value="@((string)item["Id"])">@("-----------------------".Substring(0, (int)item["Level"] * 2) + " " + (string)item["Name"])</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
