@{ Layout = "~/Views/EPK/_Layout.cshtml"; }

@ViewContext.Controller.ToString();
<form class="mozaicForm" method="post">
    <div id="uic298" name="uic298" class="uic breadcrumb-navigation breadcrumb-navigation" style="left: 60px; top: 45px; width: 860px; height: 55px; ">
        <div class="app-icon fa fa-book"></div>
        <div class="nav-text">Evidence periodik &gt; Zadání objednávky</div>
    </div><div id="uic299" name="uic299" class="uic form-heading" style="left: 90px; top: 135px; width: 297px; height: 40px; ">Zadání objednávky periodika</div>
    <div id="uic300" name="uic300" class="uic control-label" style="left: 105px; top: 195px; width: 138px; height: 20px; ">Společnost objednatele</div>
    <div id="uic301" name="uic301" class="uic control-label" style="left: 105px; top: 225px; width: 75px; height: 20px; ">Odběratel</div>
    <div id="uic302" name="uic302" class="uic control-label" style="left: 105px; top: 255px; width: 188px; height: 20px; ">Nákladové centrum objednatele</div>
    <input id="uic303" name="uic303" placeholder="" class="uic input-single-line" style="left: 330px; top: 195px; width: 360px; height: 25px; " />
    <input id="uic304" name="uic304" placeholder="" class="uic input-single-line" style="left: 330px; top: 225px; width: 280px; height: 25px; " />
    <div id="uic305" name="uic305" class="uic control-label" style="left: 105px; top: 285px; width: 75px; height: 20px; ">Periodikum</div>
    <div id="uic306" name="uic306" class="uic control-label" style="left: 105px; top: 315px; width: 75px; height: 20px; ">Četnost</div>
    <div id="uic307" name="uic307" class="uic control-label" style="left: 105px; top: 345px; width: 75px; height: 20px; ">Forma periodika</div>
    <div id="uic308" name="uic308" class="uic control-label" style="left: 105px; top: 375px; width: 75px; height: 20px; ">Typ periodika</div>
    <div id="uic309" name="uic309" class="uic control-label" style="left: 105px; top: 405px; width: 75px; height: 20px; ">Počátek objednávky</div>
    <div id="uic310" name="uic310" class="uic control-label" style="left: 105px; top: 435px; width: 75px; height: 20px; ">Konec objednávky</div>
    <div id="uic311" name="uic311" class="uic control-label" style="left: 105px; top: 465px; width: 75px; height: 20px; ">Nadřízený odběratele</div>
    <div id="uic312" name="uic312" class="uic control-label" style="left: 105px; top: 495px; width: 75px; height: 20px; ">Dodací adresa / Email</div>
    <input id="uic313" name="uic313" placeholder="" class="uic input-single-line" style="left: 330px; top: 255px; width: 360px; height: 25px; " />
    <div id="uic314" name="uic314" class="uic checkbox-control checkbox-control" style="left: 645px; top: 225px; width: 77px; height: 22px; ">
        <input type="checkbox" />
        <span class="checkbox-label">Info</span>
    </div>
    <input id="uic315" name="uic315" placeholder="" class="uic input-single-line" style="left: 330px; top: 405px; width: 360px; height: 25px; " />
    <input id="uic316" name="uic316" placeholder="" class="uic input-single-line" style="left: 330px; top: 435px; width: 360px; height: 25px; " />
    <input id="uic317" name="uic317" placeholder="" class="uic input-single-line" style="left: 330px; top: 465px; width: 360px; height: 25px; " />
    <textarea id="uic318" name="uic318" placeholder="" class="uic input-multiline" style="left: 330px; top: 495px; width: 360px; height: 140px; "></textarea>
    <div id="uic319" name="uic319" class="uic control-label" style="left: 105px; top: 645px; width: 75px; height: 20px; ">Počet kusů</div>
    <input id="uic320" name="uic320" placeholder="" class="uic input-single-line" style="left: 330px; top: 645px; width: 120px; height: 25px; " />
    <input id="uic321" name="uic321" placeholder="" class="uic input-single-line" style="left: 330px; top: 675px; width: 360px; height: 25px; " />
    <div id="uic322" name="uic322" class="uic control-label" style="left: 105px; top: 675px; width: 75px; height: 20px; ">Poznámka</div>
    <button id="uic323" name="uic323" class="uic button-simple button-large" style="left: 495px; top: 720px; width: 198px; height: 31px; ">Objednat</button>
    <select id="uic324" name="uic324" class="uic dropdown-select" style="left: 330px; top: 285px; width: 360px; height: 22px; ">
        @{ if (ViewData["dropdownData_dropdown-select26"] != null)
        {
            foreach (var option in (Dictionary<int, string>)ViewData["dropdownData_dropdown-select26"])
            {
                <option value="@(option.Key)">@(option.Value)</option>
            }
        } }
    </select>
    <select id="uic325" name="uic325" class="uic dropdown-select" style="left: 330px; top: 315px; width: 360px; height: 22px; ">
    @{ if (ViewData["dropdownData_dropdown-select27"] != null)
    {
        foreach (var option in (Dictionary<int, string>)ViewData["dropdownData_dropdown-select27"])
        {
            <option value="@(option.Key)">@(option.Value)</option>
        }
    } }
    </select>
    <select id="uic326" name="uic326" class="uic dropdown-select" style="left: 330px; top: 345px; width: 360px; height: 22px; ">
    @{ if (ViewData["dropdownData_dropdown-select28"] != null)
    {
        foreach (var option in (Dictionary<int, string>)ViewData["dropdownData_dropdown-select28"])
        {
            <option value="@(option.Key)">@(option.Value)</option>
        }
    } }
    </select>
    <select id="uic327" name="uic327" class="uic dropdown-select" style="left: 330px; top: 375px; width: 360px; height: 22px; ">
    @if (ViewData["dropdownData_dropdown-select29"] != null)
    {
        foreach (var option in (Dictionary<int, string>)ViewData["dropdownData_dropdown-select29"])
        {
        <option value="@(option.Key)">@(option.Value)</option>
        }
    }
    </select>
</form>