@{
    Page.Title = "Omnius - User details";
    Page.ModuleClass = "userDetailsModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
    var user = FSS.Omnius.Modules.CORE.COREobject.i.User;
}

<div id="detailsContainer">
    <h1 class="title">User detail</h1>
    <table class="userDetailsTable table table-striped">
        <tr>
            <td>Name</td>
            <td>@user.DisplayName</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>@user.Company</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@user.Department</td>
        </tr>
        <tr>
            <td>Team</td>
            <td>@user.Team</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@user.Email</td>
        </tr>
        <tr>
            <td>Work phone</td>
            <td>@user.WorkPhone</td>
        </tr>
        <tr>
            <td>Mobil phone</td>
            <td>@user.MobilPhone</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@user.Address</td>
        </tr>
        @if (@user.isLocalUser)
        {
            <tr>
                <td>
                    @Html.RouteLink("Change password", "Persona", new { @action = "ChangePassword", @controller = "Account" }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
        
    </table>
</div>
