@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><div class="container"><div class="row"><div class="col-xs-12"><h1 class="">@(@"My tickets")</h1><div class="panel panel-default" ><div class="panel-body"><div class=""><ul class="nav nav-tabs"><li class="active"><a href="#tabMyProgress" data-toggle="tab" class="" aria-expanded="true">@(@"In progress")</a></li><li class=""><a href="#tabMyCompleted" data-toggle="tab" aria-expanded="false" class="">@(@"Completed")</a></li></ul><div class="tab-content"><div class="tab-pane active" id="tabMyProgress">
@{ if(ViewData.ContainsKey("tableData_dataTableMyProgress") && ((System.Data.DataTable)(ViewData["tableData_dataTableMyProgress"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="dataTableMyProgress" role="grid" aria-describedby="dataTableMyProgress_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableMyProgress"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableMyProgress"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_dataTableMyProgress"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="View" class="fa fa-share-square-o" data-action="viewMyProgress" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="dataTableMyProgress" />
</div><div class="tab-pane" id="tabMyCompleted">
@{ if(ViewData.ContainsKey("tableData_dataTableMyCompleted") && ((System.Data.DataTable)(ViewData["tableData_dataTableMyCompleted"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="dataTableMyCompleted" role="grid" aria-describedby="dataTableMyCompleted_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableMyCompleted"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableMyCompleted"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_dataTableMyCompleted"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="View" class="fa fa-eye" data-action="viewMyCompleted" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="dataTableMyCompleted" />
</div></div></div></div></div></div></div><div class="row"><div class="col-xs-12"><h1 class="">@(@"Tickets overview")</h1><div class="panel panel-default" ><div class="panel-body"><div class=""><ul class="nav nav-tabs"><li class="active"><a href="#tabUnassigned" data-toggle="tab" class="" aria-expanded="true">@(@"Unassigned")</a></li><li class=""><a href="#tabAssigned" data-toggle="tab" class="" aria-expanded="false">@(@"Assigned")</a></li><li class=""><a href="#tabCompleted" data-toggle="tab" aria-expanded="false" class="">@(@"Completed")</a></li></ul><div class="tab-content"><div class="tab-pane active" id="tabUnassigned">
@{ if(ViewData.ContainsKey("tableData_dataTableUnassigned") && ((System.Data.DataTable)(ViewData["tableData_dataTableUnassigned"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="dataTableUnassigned" role="grid" aria-describedby="dataTableUnassigned_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableUnassigned"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableUnassigned"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_dataTableUnassigned"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="View" class="fa fa-share-square-o" data-action="viewUnassigned" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="dataTableUnassigned" />
</div><div class="tab-pane" id="tabAssigned">
@{ if(ViewData.ContainsKey("tableData_dataTableAssigned") && ((System.Data.DataTable)(ViewData["tableData_dataTableAssigned"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="dataTableAssigned" role="grid" aria-describedby="dataTableAssigned_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableAssigned"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTableAssigned"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_dataTableAssigned"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="View" class="fa fa-eye" data-action="viewAssigned" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="dataTableAssigned" />
</div><div class="tab-pane" id="tabCompleted">
@{ if(ViewData.ContainsKey("tableData_dataTablesCompleted") && ((System.Data.DataTable)(ViewData["tableData_dataTablesCompleted"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="dataTablesCompleted" role="grid" aria-describedby="dataTablesCompleted_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTablesCompleted"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_dataTablesCompleted"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_dataTablesCompleted"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="View" class="fa fa-eye" data-action="viewCompleted" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="dataTablesCompleted" />
</div></div></div></div></div></div></div><div class="row"><div class="col-xs-12"><button type="button" class="btn btn-primary mbe-active" name="button" value="scheduleButtton" id="scheduleButtton" style="float: right; display: inline-block" >@(@"Schedule")</button><p class="" style="float: right; display: inline-block">@(@"Check severity of tickets: ")</p></div></div><div class="row"><div class="col-xs-12"><div class="graphWrapper" id="hc_ticketOverview" style="height: 300px;">@Html.Raw(@"<div id=""hc_ticketOverview_graph""></div><script>Highcharts.setOptions({
 colors: ['#dbdbdb', '#ff2323', '#1fe052', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
});

Highcharts.chart('hc_ticketOverview_graph', {
    chart: {
        type: 'pie',
      	backgroundColor: 'transparent',
    },
  	title: {
      text: ''
    },
   	legend: {
    	itemStyle: {
        	color: 'black'
        },
        itemHoverStyle: {
            color: '#b7b7b7'
        },
        itemHiddenStyle: {
            color: '#b7b7b7'
        }
    },
    plotOptions: {
        pie: {
            shadow: false,
            center: ['50%', '50%'],
            dataLabels: {
        		enabled: true,
                style: {
                	fontWeight: 'bold',
                  	fontSize: '20px'
                }
        	},
        	showInLegend: true
        },
    },
    data: {
        csv: '{var1}'
    },
    series: [{
        name: 'Tickets',
        size: '100%',
        innerSize: '20%',
        dataLabels: {
            formatter: function () {
                return this.y; 5 ? this.point.name : null;
            },
            color: '#ffffff',
            distance: -30
        },
        id: 'Browsers'
    }]
});
            </script>".Replace("{var1}", (ViewData.FirstOrDefault(v => v.Key.EndsWith("hc_ticketOverview")).Value ?? "").ToString()))</div></div></div></div></div>