@using FSS.Omnius.Modules.Entitron.Entity.Mozaic
@model System.Data.Entity.DbSet<FSS.Omnius.Modules.Entitron.Entity.Mozaic.Template>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Mozaic";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "mozaicModule";
}
<style type="text/css">
    .top-panel {
        position: relative;
        top: 75px;
        margin-left: 225px;
        background: #3a3a3a;
        overflow: hidden;
    }

    .top-panel-content {
        position: relative;
        z-index: 2;
        padding: 1.5em 52px;
    }

    .bottom-panel {
        margin-left: 225px;
        padding: 0px 52px;
        position: relative;
        top: 75px;
    }

    .panelLabel {
        padding: 25px 52px;
        font-size: 18px;
        font-family: FatTec;
        float: left;
        width: 420px;
    }

    .backgroundDecoration {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }

    .decorationWatcheye {
        position: absolute;
        left: 19px;
        top: 56px;
        width: 24px;
        height: 24px;
    }

    .tabs {
        position: relative;
        z-index: 2;
        padding: 25px 55px;
    }

    .top-panel table th, .top-panel table td {
        color: #fff;
        vertical-align: middle !important;
    }

    td.table-row-action {
        white-space: nowrap;
    }
</style>

<div class="top-panel">
    <div class="panelLabel" style="color: #fff">Nexus</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="/Content/images/watcheye_small.png">
    <div class="tabs">
        <a href="/Mozaic/TemplateCategory/Index" class="btn btn-default">
            <span class="fa fa-book"></span>&nbsp;&nbsp;
            Kategorie
        </a>
        <a href="/Mozaic/Pages/Index" class="btn btn-default">
            <span class="fa fa-book"></span>&nbsp;&nbsp;
            Stránky
        </a>
        <a href="/Mozaic/Css/Index" class="btn btn-default">
            <span class="fa fa-book"></span>&nbsp;&nbsp;
            Css
        </a> 
    </div>
    <div class="top-panel-content">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["error"];
            </div>
        }
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>Název</th>
                <th>Kategorie</th>
                <th>Stránky</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>

            @foreach (Template t in Model)
            {
                <tr>
                    <td>
                        @Ajax.RouteLink(t.Name, "Mozaic", new {@action = "Detail", @id = t.Id}, new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer"})
                    </td>
                    <td>@t.Category.Name</td>
                    <td>@string.Join(", ",t.Pages)</td>
                    <td>
                        @Ajax.RouteLink(" ", "Mozaic", new {@action = "Update", @id = t.Id}, new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer"}, new {@class = "fa fa-pencil btn btn-primary", @title = "Upravit"})
                        @Html.RouteLink(" ", "Mozaic", new {@action = "Delete", @id = t.Id}, new {@class = "fa fa-trash btn btn-danger"})

                    </td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Nová šablona", "Create", "Template", new {@class = "btn btn-default"})
    </div>
</div>
<div id="ContentContainer" class="bottom-panel">


    </div>

