@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@model System.Data.Entity.DbSet<Smtp>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="smtpMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Add SMTP server", "Hermes", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
        @Ajax.RouteLink("Test", "Hermes", new { @action = "Test" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-play-circle" })
        @Ajax.RouteLink("Test (sender)", "Hermes", new { @action = "TestSender" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-play-circle" })
    </div>
    <div id="lowerPanelContainer">
        <table id="smtpTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col width="80">
                <col width="80">
                <col width="60">
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Server</th>
                    <th>SSL</th>
                    <th>Default</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (Smtp s in Model)
                    {
                        <tr>
                            <td>@s.Id</td>
                            <td>@s.Name</td>
                            <td>@s.Server</td>
                            <td class="text-center">@(s.Use_SSL == true ? "Yes" : "No")</td>
                            <td class="text-center">@(s.Is_Default == true ? "Yes" : "No")</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Detail", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Edit", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer", OnFailure = "debugger;" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Edit" })
                                @Html.RouteLink(" ", "Hermes", new { @action = "Delete", @id = s.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Delete", @onclick = "return confirm('Really want to delete?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">There are no SMTP server</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
