@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using FSS.Omnius.Modules.Hermes
@using Newtonsoft.Json.Linq
@model FSS.Omnius.Modules.Entitron.Entity.Hermes.EmailQueue
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
    JToken message = JToken.Parse(Model.Message);
}
<div>
    <h4>Detail záznamu</h4>
    <table class="details-list table table-striped">
        <tr>        
            <td>Id:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Date inserted:</td>
            <td>@Model.Date_Inserted.ToString("g")</td>
        </tr>
        <tr>
            <td>Date send after:</td>
            <td>@Model.Date_Send_After.ToString("g")</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>@Mailer.QueuStatusName((int)Model.Status)</td>
        </tr>
        <tr>
            <td>Sender:</td>
            <td>@message["From"]["DisplayName"] &lt;@message["From"]["Address"]&gt;</td>
        </tr>
        <tr>
            <td>Recievers:</td>
            <td>
                @foreach (JToken recipient in message["To"])
                {
                    @Html.Raw(recipient["DisplayName"] + " &lt;" + recipient["Address"] + "&gt;")<br />
                }
            </td>
        </tr>
        
        @if (message["CC"] != null && message["CC"].Count() > 0)
        {
            <tr>
                <td>Copy:</td>
                <td>
                    @foreach (JToken copy in message["CC"])
                    {
                        @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                    }
                </td>
            </tr>
        }
        @if (message["Bcc"] != null && message["Bcc"].Count() > 0)
        {
            <tr>
                <td>Blind copy:</td>
                <td>
                    @foreach (JToken copy in message["Bcc"])
                    {
                        @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                    }
                </td>
            </tr>
        }        
        <tr>
            <td>Subject:</td>
            <td>@message["Subject"]</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>@Html.Raw((bool)message["IsBodyHtml"] ? message["Body"] : message["Body"].ToString().Replace("\n", "<br />"))</td>
        </tr>
    </table>
</div>