@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.TemplateCategory

<div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Name
            </label>
        </div>
        <div>
            <p>@Model.Name</p>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Template
            </label>
        </div>
        <div>
            <p>@string.Join(", ",Model.Templates.Select(x=>x.Name))</p>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Parent
            </label>
        </div>
        <div>
            @if (@Model.Parent != null)
            {
                <p>
                    @Model.Parent.Name
                </p>
            }
            else
            {
                <p> No parent</p>
            }
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Children
            </label>
        </div>
        <div>
            <p>@string.Join(", ",Model.Children.Select(x => x.Name))</p>
        </div>
    </div>
</div> 