@using FSS.Omnius.Modules.CORE
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="@Services.GetFileVersion("/Content/bundle.css")" />
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/modernizr.min.js")"></script> 
    @RenderSection("Styles", false)
</head>
<body class="@Page.ModuleClass">
    <a id="tapestry" href="@Url.Action("Index","Tapestry")" style="visibility: hidden">Tapestry</a>
    <a id="wfdesigner" href="@Url.Action("Index", "WFDesigner")" style="visibility: hidden">WF designer</a>
    <a id="overview" href="@Url.Action("Index", "Overview")" style="visibility: hidden">WF designer</a>
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/jquery.min.js")"></script>
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/commonLibraries.min.js")"></script>
    <div>
        @RenderBody()
    </div>

    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/knockout.min.js")"></script> 
    @RenderSection("scripts", required: false)
</body>
</html>
