@using FSS.Omnius.Modules.Entitron.Entity
@using FSS.Omnius.Modules.Entitron.Entity.Master
@using FSS.Omnius.Modules.Entitron.Entity.Tapestry
@using FSS.Omnius.Modules.Entitron.Entity.Mozaic
@using FSS.Omnius.Modules.CORE
@using FSS.Omnius.FrontEnd.Utils
@{
    T t = new T((string)ViewData["locale"]);
    int currentTimestamp = (int)(DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds;
    string jsTranslations = JsTranslationsCollection.GetJson(t);
}
<!DOCTYPE html>
<html lang="@ViewData["locale"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(t._((string)ViewBag.Title)) Work</title>
    <link rel="stylesheet" href="@Services.GetFileVersion("/Content/CssLibs/Bundle.min.css")" />
    <link rel="stylesheet" href="@Services.GetFileVersion("/Content/Scss/Bundle/UserStyleBundle.min.css")" />
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/modernizr.min.js")"></script>
    <style>
        @{
            int appId = Context.GetCORE().Entitron.AppId;
            var context = DBEntities.instance;
            var applicationTemplate = context.Applications.Include("CSSTemplate").Where(c => c.Id == appId).First();


        }
        @{  /* @Html.Partial($"{applicationTemplate.CssTemplate.Url}") */
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body class="@Page.ModuleClass userLayout pageSpinnerShown">
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/jquery.min.js")"></script>
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/commonLibraries.js")"></script>
    <div id="brandBar">
        <div class="logo">
            <img src="@Url.Content("~/Content/Images/LogoCrymicooo.png")" alt="" />
        </div>
   
    </div>
    <div id="userTopBar">
        <div class="icon" id="toggleMenuIcon"><div class="fa fa-bars"></div></div>
        <a href="/Master"><div class="icon" id="appManagerIcon"><div class="fa fa-th"></div></div></a>
        @if (Context.GetLoggedUser().isAdmin())
        {
            <a href="/CORE"><div class="icon" id="adminSectionIcon"><div class="fa fa-cog"></div></div></a>
        }
        <a href="/Master/Home/Help"><div class="icon" id="helpIcon"><div class="fa fa-question-circle"></div></div></a>
     
        <div class="clientTitleArea">
            <div class="clientTitle">@t._("XMU")</div>
            
        </div>
       
        <div class="userBoxMinimized">
            <div class="notificationIcon fa fa-bell"></div>
            <div class="avatar icon"></div>
        </div>
       
        <div class="userBox">
           
            <div class="notificationIcon fa fa-bell"></div>
            <div class="avatar"></div>
            <div class="fullName"><a href="/Master/Home/Details">@Context.GetLoggedUser().DisplayName</a></div>
            <div class="commands">@Html.Raw(Context.GetLoggedUser().isLocalUser ? $"<form action=\"/Persona/Account/LogOff\" id=\"logoutForm\" method=\"POST\">{Html.AntiForgeryToken()}</form><a id=\"logoutLink\" href=\"/Persona/Account/LogOff\">{t._("Odhlásit se")}</a> | " : "")                <a href="@(ViewData["locale"].ToString() == "cs" ? String.Format("/{0}/?locale=en",ViewData["appSystemName"].ToString()) : String.Format("/{0}/?locale=cs",ViewData["appSystemName"].ToString()))"> @(ViewData["locale"].ToString() == "cs" ? "English" : "Česky")</a>
</div>
           
        </div>
        <div class="searchBoxMinimized">
            <div class="searchIcon fa fa-search"></div>
        </div>
        <div class="searchBox">
                <input type="text" placeholder="@t._("Vyhledat v aplikaci")" class="searchInputField" name="search" />
                <div class="searchIcon fa fa-search"></div>
        </div>
    </div>
    <div id="userLeftBar">
        <div id="showMenuIcon" class="fa fa-angle-double-right"></div>
        <div id="hideMenuIcon" class="fa fa-angle-double-left"></div>
        <div class="widgetLabel">Menu</div>
        @Html.Partial($"/Views/App/{Context.GetCORE().Entitron.AppName}/menuLayout.cshtml")
    </div>
    <script>
        if (window.innerWidth < 1280) {
            document.body.classList.add("leftBarHidden");
        }
    </script>
    <div id="appNotificationArea"></div>
    <div id="userContentArea">
        @RenderBody()
    </div>
    <div id="pageOverlay">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <input type="hidden" id="currentAppName" value="@t._((string)ViewData["appSystemName"])" />
    <input type="hidden" id="currentLocale" value="@((string)ViewData["locale"])" />
    <input type="hidden" id="currentBlockName" value="@t._((string)ViewData["blockName"])" />
    <input type="hidden" id="currentUserName" value="@ViewData["userName"]" />
    <input type="hidden" id="currentUserId" value="@ViewData["UserId"]" />
    @if ((string)ViewData["Mode"] == "App" && ViewData["AssociatedModals"] != null)
    {
        <div id="modalRepository">
            @foreach (var modal in (List<MozaicModalMetadataItem>)ViewData["AssociatedModals"])
            {
                <div class="modalRepositoryItem" id="modalDialog@(modal.Id)" title="@(modal.Title)" modalWidth="@(modal.Width + 300)" modalHeight="@(modal.Height)">
                    @Html.Partial(modal.PartialViewPath)
                </div>
            }
        </div>
    }
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/omniusUserScripts.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
