@using FSS.Omnius.Modules.Entitron.Entity
@using FSS.Omnius.Modules.Entitron.Entity.Master
@using FSS.Omnius.Modules.Entitron.Entity.Tapestry
@using FSS.Omnius.Modules.Entitron.Entity.Mozaic
@using FSS.Omnius.Modules.CORE
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title innogy OSS</title>
    <link rel="stylesheet" href="@Services.GetFileVersion("/Content/CssLibs/Bundle.min.css")" />
    <link rel="stylesheet" href="@Services.GetFileVersion("/Content/Scss/Bundle/UserStyleBundle.min.css")" />
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/modernizr.min.js")"></script> 
    @RenderSection("Styles", false)
</head>
<body class="@Page.ModuleClass userLayout pageSpinnerShown">
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/jquery.min.js")"></script>
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/commonLibraries.js")"></script>  
    <div id="brandBar">
        <div class="logo">
            <img src="@Url.Content("~/Content/Images/innogy_logo_H_n_4C_ly.svg")" alt="innogy" />
        </div>
    </div>
    <div id="userTopBar">
        <div class="icon" id="toggleMenuIcon"><div class="fa fa-bars"></div></div>
        <a href="/Master"><div class="icon activeIcon" id="appManagerIcon"><div class="fa fa-th"></div></div></a>
        @if (Context.GetLoggedUser().isAdmin())
        {
            <a href="/CORE"><div class="icon" id="adminSectionIcon"><div class="fa fa-cog"></div></div></a>
        }
        <a href="/Master/Home/Help"><div class="icon" id="helpIcon"><div class="fa fa-question-circle"></div></div></a>

        <div class="clientTitleArea">
            <div class="clientTitle">Oss Portál</div>
        </div>

        <div class="userBoxMinimized">
            <div class="notificationIcon fa fa-bell"></div>
            <div class="avatar icon"></div>
        </div>
        <div class="userBox">
            <div class="notificationIcon fa fa-bell"></div>
            <div class="avatar"></div>
            <div class="fullName">@Context.GetLoggedUser().DisplayName</div>
            <div class="commands">@Html.Raw(Context.GetLoggedUser().isLocalUser ? $"<form action=\"/Persona/Account/LogOff\" id=\"logoutForm\" method=\"POST\">{Html.AntiForgeryToken()}</form><a id=\"logoutLink\" href=\"/Persona/Account/LogOff\">odhlásit</a> | " : "")<a href="/Master/Home/Details">detail</a></div>
        </div>
        <div class="searchBoxMinimized">
            <div class="searchIcon fa fa-search"></div>
        </div>
        <div class="searchBox">

            <div class="searchBox">
                <input type="text" placeholder="@t._("Vyhledat v aplikaci")" class="searchInputField" name="search" />
                <div class="searchIcon fa fa-search"></div>
            </div>
 
        </div>
    </div>
    <div id="userLeftBar">
        <div id="showMenuIcon" class="fa fa-angle-double-right"></div>
        <div id="hideMenuIcon" class="fa fa-angle-double-left"></div>
        <div class="widgetLabel">Všechny aplikace</div>
        <div class="appList">
            @if (ViewData.ContainsKey("Apps"))
            {
                foreach (Application app in (List<Application>)ViewData["Apps"])
                {
                    <a href="/@app.Name">
                        <div class="appListItem">
                            <div class="icon fa @(app.Icon)"></div>
                            <div class="appName">@app.DisplayName</div>
                        </div>
                    </a>
                }
            }
        </div>
        <div class="infoBox">
            <div class="icon fa fa-info-circle"></div>
            <div class="infoText">
                Kliknutím na navigační šipku v hlavičce
                můžete měnit způsob zobrazených
                aplikací v menu.
            </div>
        </div>
    </div>
    <script>
        if (window.innerWidth < 1280) {
            document.body.classList.add("leftBarHidden");
        }
    </script>
    <div id="appNotificationArea"></div>
    <div id="userContentArea">
        @RenderBody()
    </div>
    <div id="pageOverlay">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    @if ((string)ViewData["Mode"] == "App" && ViewData["AssociatedModals"] != null)
    {
        <div id="modalRepository">
            @foreach (var modal in (List<MozaicModalMetadataItem>)ViewData["AssociatedModals"])
            {
                <div class="modalRepositoryItem" id="modalDialog@(modal.Id)" title="@(modal.Title)" modalWidth="@(modal.Width + 300)" modalHeight="@(modal.Height)">
                    @Html.Partial(modal.PartialViewPath)
                </div>
            }
        </div>
    }
    <script type="text/javascript" src="@Services.GetFileVersion("/Scripts/Bundles/omniusUserScripts.js")"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
