@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<ExtDB>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
@Html.Partial("~/Views/Nexus/Nexus/Header.cshtml")
<div id="nexusLowerPanel">
    @Html.Partial("~/Views/Nexus/Nexus/Decoration.cshtml")
    <div id="extDbMenuArea">
        @Ajax.RouteLink("Přidat externí databázi", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-plus" })
        @Ajax.RouteLink("Test MySQL", "Nexus", new { @action = "Test" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-play-circle" })
        @Ajax.RouteLink("Test MSSQL", "Nexus", new { @action = "TestMSSQL" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-play-circle" })
    </div>
    <div id="nexusLowerPanelContainer">
        <table id="extDbTable" class="table table-bordered table-striped table-responsive">
            <colgroup>
                <col width="50" />
                <col width="100" />
                <col />
                <col />
                <col width="60" />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Typ</th>
                    <th>Server</th>
                    <th>Jméno databáze</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (ExtDB db in Model)
                    {
                        <tr>
                            <td>@db.Id</td>
                            <td>@db.DB_Type</td>
                            <td>@db.DB_Server</td>
                            <td>@db.DB_Name</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Detail", @id = db.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = db.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = db.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete záznam smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Nemáte nakonfigurovanu žádnou externí databázi</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
