@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><div class="container"><h1 class="" data-test="true">@(@"Applikace / Uživatelský profil")</h1><p class="">@(@"<br><br>")</p><div class="panel panel-primary" ><div class="panel-heading"><h3 class="panel-title">@(@"Nastavení<br>")</h3></div><div class="panel-body"><form class="form-horizontal" method="post"><div class="form-group"><label for="role_select" class="col-sm-2 text-right">@(@"Role:")</label><div class="col-xs-12 col-sm-10">
<select name="role_select" class="form-control" required="required" id="role_select">
    @(@"<option value="""">-- vyberte --</option>")
    @{ if(ViewData["dropdownData_role_select"] != null) {
            foreach(var option in ((Dictionary<int, string>)ViewData["dropdownData_role_select"])) {
                <option value="@(option.Key)" @((formState.ContainsKey("role_select") && Convert.ToInt32(formState["role_select"]) == option.Key) || (ViewData.ContainsKey("dropdownSelection_role_select") && ViewData["dropdownSelection_role_select"] is int && (int)ViewData["dropdownSelection_role_select"] == option.Key) ? "selected" : "")>
                    @(option.Value)
                </option>
            }
        }
    }    
</select></div></div><div class="form-group"><label for="name_text" class="col-sm-2 text-right">@(@"Uživatelské jméno:")</label><div class="col-xs-12 col-sm-10"><input type="text" name="name_text" value="@(formState.ContainsKey("name_text") ? formState["name_text"] : (ViewData.ContainsKey("inputData_name_text") ? @ViewData["inputData_name_text"] : ""))" class="form-control" id="name_text" /></div></div><div class="form-group"><label for="email_text" class="col-sm-2 text-right">@(@"E-mail:<br>")</label><div class="col-xs-12 col-sm-10"><input type="email" name="email_text" value="@(formState.ContainsKey("email_text") ? formState["email_text"] : (ViewData.ContainsKey("inputData_email_text") ? @ViewData["inputData_email_text"] : ""))" class="form-control" id="email_text" /></div></div><div class="form-group"><label for="password_text" class="col-sm-2 text-right">@(@"Heslo:")</label><div class="col-xs-12 col-sm-10"><input type="password" name="password_text" value="@(formState.ContainsKey("password_text") ? formState["password_text"] : (ViewData.ContainsKey("inputData_password_text") ? @ViewData["inputData_password_text"] : ""))" class="form-control" id="password_text" /></div></div><div class="form-group"><label for="password2" class="col-sm-2 text-right">@(@"Kontrola hesla:")</label><div class="col-xs-12 col-sm-10"><input type="password" name="password2" value="@(formState.ContainsKey("password2") ? formState["password2"] : (ViewData.ContainsKey("inputData_password2") ? @ViewData["inputData_password2"] : ""))" class="form-control" id="password2" /></div></div><div class="form-group"><label for="chb_active" class="col-sm-2 text-right">@(@"Aktivní:")</label><div class="col-xs-12 col-sm-10"><div class="checkbox"><label for="chb_active" class=""><input type="checkbox" name="chb_active" value="" class="" id="chb_active" @(formState.ContainsKey("chb_active") && formState["chb_active"] == "on") || (ViewData.ContainsKey("checkboxData_chb_active") && (ViewData["checkboxData_chb_active"] as bool? == true)) ? " checked" : "") /> Ano<br></label></div></div></div><div class="form-group"><label for="" class="col-sm-2 text-right">@(@"Test:")</label><div class="col-xs-12 col-sm-10"><input type="text" name="text_test" value="@(formState.ContainsKey("text_test") ? formState["text_test"] : (ViewData.ContainsKey("inputData_text_test") ? @ViewData["inputData_text_test"] : ""))" class="form-control" id="text_test" /></div></div><button type="submit" class="btn btn-primary pull-right" id="btnSave" value="btnSave" name="button" ><span class="fa fa-floppy-o"></span>&nbsp; Save<br></button><button type="button" class="btn btn-default" id="btnBack" ><span class="fa fa-share fa-flip-horizontal" fa-flip-horizontal="fa-flip-horizontal"></span>&nbsp; Back<br></button>@Html.AntiForgeryToken()</form></div></div><div class="panel panel-primary" ><div class="panel-heading"><h3 class="panel-title">@(@"Uživatelé")</h3></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_DataTable_Users") && ((System.Data.DataTable)(ViewData["tableData_DataTable_Users"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="1" data-dtinfo="1" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="1" id="DataTable_Users" role="grid" aria-describedby="DataTable_Users_info" data-dtorder="[[3,'desc']]">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_DataTable_Users"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_DataTable_Users"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_DataTable_Users"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@Html.Raw(cell.ToString())</td>
            }
                <td class="actionIcons"><i title="Detail" class="fa fa-search" data-action="detail" data-idparam="modelId" data-confirm=""></i> <i title="Upravit" class="fa fa-pencil" data-action="edit" data-idparam="modelId" data-confirm=""></i> <i title="Smazat" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm="Opravdu chcete uživatele <b>{col_3}</b> smazat?"></i> <i title="Say Hello" class="fa fa-volume-up" data-action="sayhello" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="DataTable_Users" />
</div></div></div></div><script type="text/javascript" src="/Scripts/UserScripts/Application/App2/TestJs.js"></script>