@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using FSS.Omnius.Modules.Watchtower
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@model System.Data.Entity.DbSet<EmailQueue>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="queueMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Spustit sender", "Hermes", new { @action = "RunSender" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-play-circle" })
    </div>
    <div id="lowerPanelContainer">
        <table id="queueTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col width="50">
                <col width="100">
                <col width="100">
                <col>
                <col>
                <col>
                <col width="60">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vloženo</th>
                    <th>K odeslání</th>
                    <th>Aplikace</th>
                    <th>Předmět</th>
                    <th>Příjemce</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (EmailQueue item in Model)
                    {
                        JToken mail = JToken.Parse(item.Message);
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Date_Inserted.ToShortDateString()</td>
                            <td>@item.Date_Send_After.ToShortDateString()</td>
                            <td>@WatchtowerLogger.Instance.GetEventSourceString(item.Application_Id == null, item.Application_Id)</td>
                            <td>@mail["Subject"]</td>
                            <td>@Html.Raw(mail["From"]["Address"])</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Detail", @id = item.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Html.RouteLink(" ", "Hermes", new { @action = "Delete", @id = item.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete záznam smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Ve frontě nejsou žádné e-maily čekající na odeslání</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
