@model FSPOC_WebProject.Models.SetPasswordViewModel
@{
    Page.Title = "Omnius Persona";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "personaModule";
}
<div id="upperPanel">
    <div class="panelLabel">Nový uživatel</div>
    <svg class="backgroundDecoration" width="540px" height="135px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 135 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
</div>
<div id="lowerPanel">
    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["error"]
        </div>
    }
    @using (Html.BeginForm("Create", "Users", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.DisplayName, "Jméno a příjmení")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.DisplayName)
                    @Html.ValidationMessageFor(x => x.user.DisplayName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.UserName, "Uživatelské jméno")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.UserName)
                    @Html.ValidationMessageFor(x => x.user.UserName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.NewPassword, "Heslo")
                </div>
                <div class="col-sm-7">
                    @Html.PasswordFor(x=>x.NewPassword)
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.ConfirmPassword, "Heslo znovu")
                </div>
                <div class="col-sm-7">
                    @Html.PasswordFor(x=>x.ConfirmPassword)
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Company, "Firma")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Company)
                    @Html.ValidationMessageFor(x => x.user.Company)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Department, "Oddělení")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Department)
                    @Html.ValidationMessageFor(x => x.user.Department)
                </div>
            </div>

            <div class="form-group  col-sm-12 ">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Team, "Tým")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Team)
                    @Html.ValidationMessageFor(x => x.user.Team)
                </div>
            </div>

            <div class="form-group  col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Job, "Práce")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Job)
                    @Html.ValidationMessageFor(x => x.user.Job)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Address, "Adresa")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Address)
                    @Html.ValidationMessageFor(x => x.user.Address)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.Email)
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.Email)
                    @Html.ValidationMessageFor(x => x.user.Email)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.MobilPhone, "Telefon")
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.user.MobilPhone)
                    @Html.ValidationMessageFor(x => x.user.MobilPhone)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.user.WorkPhone, "Pracovní telefon")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.user.WorkPhone)
                    @Html.ValidationMessageFor(x => x.user.WorkPhone)
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary">Přidat</button>
        @Html.ActionLink("Zpět", "Index", null, new {@class="btn btn-default"})
    }
</div>
