@model FSS.Omnius.Modules.Entitron.Entity.Persona.User
@{
    Page.Title = "Omnius Persona";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "personaModule";
}
<div id="upperPanel">
    <div class="panelLabel">Upravit uživatele </div>
    <svg class="backgroundDecoration" width="540px" height="135px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 135 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
</div>

<div id="lowerPanel">
    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["error"]
        </div>
    }
    @using (Html.BeginForm("Edit", "Users", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.isLocalUser)
        @Html.HiddenFor(x => x.localExpiresAt)
        @Html.HiddenFor(x => x.LastLogin)
        @Html.HiddenFor(x => x.CurrentLogin)
        <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.DisplayName, "Jméno a příjmení")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.DisplayName)
                    @Html.ValidationMessageFor(x => x.DisplayName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.UserName, "Uživatelské jméno")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.UserName)
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Company, "Firma")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Company)
                    @Html.ValidationMessageFor(x => x.Company)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Department, "Oddělení")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Department)
                    @Html.ValidationMessageFor(x => x.Department)
                </div>
            </div>

            <div class="form-group  col-sm-12 ">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Team, "Tým")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Team)
                    @Html.ValidationMessageFor(x => x.Team)
                </div>
            </div>

            <div class="form-group  col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Job, "Práce")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Job)
                    @Html.ValidationMessageFor(x => x.Job)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Address, "Adresa")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Address)
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.Email)
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.MobilPhone, "Telefon")
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.MobilPhone)
                    @Html.ValidationMessageFor(x => x.MobilPhone)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    @Html.LabelFor(x => x.WorkPhone, "Pracovní telefon")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.WorkPhone)
                    @Html.ValidationMessageFor(x => x.WorkPhone)
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary">Upravit</button>
    }
</div>
