@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><div class="container"><div class="row"><div class="col-xs-12"><h1 class="">@(@"Dashboard")</h1><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Import log")</h3></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_ImportLog_datatable") && ((System.Data.DataTable)(ViewData["tableData_ImportLog_datatable"])).Rows.Count > 0) {
    <table class="table data-table dataTable no-footer" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="ImportLog_datatable" role="grid" aria-describedby="ImportLog_datatable_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_ImportLog_datatable"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_ImportLog_datatable"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_ImportLog_datatable"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="ImportLog_datatable" />
</div></div><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Zámky")</h3></div><div class="panel-body"><form class="form-horizontal" method="post"><div class="row"><div class="col-xs-12 col-sm-6"><div class="clearfix"><span class="">@(@"IBIS zamknut: ")</span><span class="pull-right" id="ibis_lock">@(@"{var1}".Replace("{var1}", (ViewData.FirstOrDefault(v => v.Key.EndsWith("ibis_lock")).Value ?? "").ToString()))</span></div><button type="submit" class="btn btn-primary" name="button" id="unlock_ibis_button" value="unlock_ibis_button" style="margin-top: 20px;" >@(@"Odemknout IBIS")</button></div><div class="col-xs-12 col-sm-6"><div class="clearfix"><span class="">@(@"PROFILE zamknut: ")</span><span class="pull-right" id="profile_lock">@(@"{var1}".Replace("{var1}", (ViewData.FirstOrDefault(v => v.Key.EndsWith("profile_lock")).Value ?? "").ToString()))</span></div><button type="submit" class="btn btn-primary" name="button" id="unlock_profile_button" value="unlock_profile_button" style="margin-top: 20px;" >@(@"Odemknout PROFILE")</button></div></div>@Html.AntiForgeryToken()</form></div></div><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Možnosti exportu")</h3></div><div class="panel-body"><form class="form-horizontal" method="post"><div class="form-group"><label for="#ibis_path" class="col-sm-3">@(@"Cesta IBIS")</label><div class="col-xs-12 col-sm-9"><input type="text" name="ibis_path" value="@(formState.ContainsKey("ibis_path") ? formState["ibis_path"] : (ViewData.ContainsKey("inputData_ibis_path") ? @ViewData["inputData_ibis_path"] : ""))" class="form-control" id="ibis_path" /></div></div><div class="form-group"><label for="#profile_path" class="col-sm-3">@(@"Cesta PROFILE")</label><div class="col-xs-12 col-sm-9"><input type="text" name="profile_path" value="@(formState.ContainsKey("profile_path") ? formState["profile_path"] : (ViewData.ContainsKey("inputData_profile_path") ? @ViewData["inputData_profile_path"] : ""))" class="form-control" id="profile_path" /></div></div><div class="form-group"><label for="automatic_export_checkbox" class="col-sm-3">@(@"Automatický export")</label><div class="col-xs-12 col-sm-9"><input type="checkbox" name="automatic_export_checkbox" value="" class="" id="automatic_export_checkbox" @((formState.ContainsKey("automatic_export_checkbox") && formState["automatic_export_checkbox"] == "on") || (ViewData.ContainsKey("checkboxData_automatic_export_checkbox") && (ViewData["checkboxData_automatic_export_checkbox"] as bool? == true)) ? " checked" : "") /></div></div><button type="submit" class="btn btn-primary" name="button" value="save_export" id="save_export" >@(@"Uložit nastavení")</button>@Html.AntiForgeryToken()</form><div class="row"><hr class=""></hr><div class="col-xs-12"><h3 class="">@(@"Export")</h3></div></div><div class="row"><form class="form-horizontal" method="post"><div class="col-xs-12 col-sm-6"><p class="">@(@"Stáhnout")</p><button type="submit" class="btn btn-success mbe-active" name="button" id="download_ibis_button" value="download_ibis_button" style="margin-right: 15px;" >@(@"Stáhnout IBIS")</button><button type="submit" class="btn btn-success" name="button" id="download_profile_button" value="download_profile_button" >@(@"Stáhnout PROFILE")</button></div><div class="col-xs-12 col-sm-6"><p class="">@(@"Nahrát do uložiště")</p><button type="submit" class="btn btn-primary" name="button" id="export_ibis_button" value="export_ibis_button" style="margin-right: 15px;" >@(@"Nahrát IBIS")</button><button type="submit" class="btn btn-primary" name="button" id="export_profile_button" value="export_profile_button" >@(@"Nahrát PROFILE")</button></div>@Html.AntiForgeryToken()</form></div></div></div></div></div></div></div>