@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><form class="form-horizontal" method="post"><div class="container"><p class="" style="height: 100%; font-size: 200%;">@(@"IFRS")</p><div class="panel panel-default" ><div class="panel-heading"><div class="clearfix"><h3 class="panel-title" style="float: left;">@(@"Profile")</h3>
@if((ViewData.ContainsKey("profileLock_if") && (bool)ViewData["profileLock_if"]) == true) {
<div class="" id="profileLock_if" data-varname="profileLock_if"><button type="submit" class="btn btn-sm btn-primary" name="button" style="float: right;" value="profileLock_button" id="profileLock_button" >@(@"Zamknout")</button></div>
}</div></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_Profile_table") && ((System.Data.DataTable)(ViewData["tableData_Profile_table"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable mbe-active" data-dtpaging="1" data-dtinfo="0" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="Profile_table" role="grid" aria-describedby="DataTables_Table_1_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profile_table"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profile_table"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Profile_table"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="edit" class="fa fa-pencil" data-action="edit" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Profile_table" />
</div></div></div>@Html.AntiForgeryToken()</form></div>