@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<WS>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
<style type="text/css">
    .top-panel {
        position: relative;
        top: 75px;
        margin-left: 225px;
        background: #3a3a3a;
        overflow: hidden;
    }
    .top-panel-content {
        position: relative;
        z-index: 2;
        padding: 1.5em 52px;
    }
    .bottom-panel {
        margin-left: 225px;
        padding: 0px 52px;
        position: relative;
        top: 75px;
    }
    .panelLabel {
        padding: 25px 52px;
        color: #fff;
        font-size: 18px;
        font-family: FatTec;
        float: left;
        width: 420px;
    }
    .backgroundDecoration {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    .decorationWatcheye {
        position: absolute;
        left: 19px;
        top: 56px;
        width: 24px;
        height: 24px;
    }
    .tabs {
        position: relative;
        z-index: 2;
        padding: 25px 55px;
    }
    .top-panel table th, .top-panel table td {
        color: #fff;
        vertical-align: middle !important;
    }
    td.table-row-action {
        white-space: nowrap;
    }
    .btn.fa:before {
        margin-right: 10px;
    }
    .btn.fa.ico-only:before {
        margin-right: 0px;
    }
</style>

<div class="top-panel">
    <div class="panelLabel">Nexus</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="/Content/images/watcheye_small.png">
    <div class="tabs">
        <a href="/Nexus/LDAP/Index" class="btn btn-default">
            <span class="fa fa-book"></span>&nbsp;&nbsp;
            LDAP
        </a>
        <a href="/Nexus/WS/Index" class="btn btn-primary">
            <span class="fa fa-globe"></span>&nbsp;&nbsp;
            WebServices
        </a>
        <a href="/Nexus/ExtDB/Index" class="btn btn-default">
            <span class="fa fa-database"></span>&nbsp;&nbsp;
            Externí databáze
        </a>
    </div>
    <div class="top-panel-content">
        <table class="table table-bordered table-responsive">
            <colgroup>
                <col width="50" />
                <col />
                <col width="60" />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
            @if(Model.Count() > 0)
            {
                foreach(WS s in Model)
                {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.Name</td>
                        <td class="table-row-action">
                            @Ajax.RouteLink(" ", "Nexus", new { @action = "Detail", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                            @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                            @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = s.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete záznam smazat?')" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Nemáte nakonfigurovánu žádnou webovou službu</td>
                </tr>
            }
            </tbody>
        </table>
        @Ajax.RouteLink("Pøidat WS", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-primary fa fa-plus" })        
        @Ajax.RouteLink("Test", "Nexus", new { @action = "Test" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-primary fa fa-play-circle-O" })
    </div>
</div>
<div id="ContentContainer" class="bottom-panel">


</div>

