@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("Admin,User",24)){            <li>
                    <h4>@(t._("Administrace"))</h4>

    <ul >
@if (Context.GetLoggedUser().canUseBlock("Admin,User",24)){            <li>
                    <a href="/App1/Test">@(t._("Test"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",24)){            <li>
                    <a href="/App1/Test2">@(t._("Test2"))</a>
            </li>
}    </ul>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin,User,TestRole",24)){            <li>
                    <a href="/App1/First">@(t._("First"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin,User",24)){            <li>
                    <a href="/App1/ReadOnlyTest">@(t._("Read only test"))</a>
            </li>
}    </ul>
