@using FSS.Omnius.Modules.Entitron.Entity.Tapestry;
@model TapestryDesignerMetablock
@{
    Page.Title = "Omnius Menu Order";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "menuOrderModule";
}
<div id="overviewHeaderArea">
    App: <span id="headerAppName">@ViewData["appName"]</span><br /> Metablock: <span id="headerMetablockName">@Model.Name</span>
</div>
<div id="overviewMenu">
    <button id="btnSave" class="btn-omnius-rectangular">Save</button>
    <hr />
    <button id="btnOverview" class="btn-omnius-rectangular">Overview</button>
</div>
<div id="overviewPanel">
    <p><br /></p>
    <form method="post" action="/api/tapestry/saveMenuOrder" id="menuOrderForm">
        @Html.Hidden("metablockId", Model.Id);

        <ul class="sortable">
            @foreach (TapestryDesignerMetablock mb in Model.Metablocks.OrderBy(m => m.MenuOrder)) {
                <li class="btn btn-omnius-rectangular@((mb.IsInMenu ? "" : " not-in-menu") + (mb.IsInitial ? " is-initial" : ""))">
                    <span class="fa fa-object-group"></span>
                    @mb.Name
                    @Html.Hidden("metablock[]", mb.Id)
                </li>
            }
            @foreach (TapestryDesignerBlock b in Model.Blocks.OrderBy(b => b.MenuOrder)) {
                <li class="btn btn-omnius-rectangular@((b.IsInMenu ? "" : " not-in-menu") + (b.IsInitial ? " is-initial" : ""))">
                    @b.Name
                    @Html.Hidden("block[]", b.Id)
                </li>
            }
        </ul>
    </form>
</div>
<form id="openMetablockForm" method="post" action="/Tapestry/Overview">
    <input type="hidden" name="metablockId" value="@Model.Id" />
</form>