@using FSS.Omnius.Modules.Entitron.Entity.Tapestry;
@model List<TapestryDesignerMenuItem>
@{
    Page.Title = "Omnius Menu Order";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "menuOrderModule";
}
<div id="lowerPanel">
    <div id="overviewHeaderArea">
        App: <span id="headerAppName">@ViewData["appName"]</span><br /> Metablock: <span id="headerMetablockName">@ViewData["metablockName"]</span>
    </div>
    <div id="overviewMenu">
        <button id="btnSave" class="btn-omnius-rectangular">Save</button>
        <hr />
        <button id="btnOverview" class="btn-omnius-rectangular">Overview</button>
    </div>
    <div id="overviewPanel">
        <p><br /></p>
        <form method="post" action="/api/tapestry/saveMenuOrder" id="menuOrderForm">
            @Html.Hidden("metablockId", ViewData["metablockId"]);

            <ul class="sortable">
                @foreach (TapestryDesignerMenuItem item in Model.OrderBy(i => i.MenuOrder))
                {
                    <li class="btn btn-omnius-rectangular@((item.IsInMenu ? "" : " not-in-menu") + (item.IsInitial ? " is-initial" : ""))">
                        @if (item.IsMetablock)
                        {
                            <span class="fa fa-object-group"></span>
                        }
                        @item.Name
                        @Html.Hidden("item[]", item.Id, new { @class = item.IsMetablock ? "metablock" : "block" })
                    </li>
                }
            </ul>
        </form>
    </div>
</div>
<form id="openMetablockForm" method="post" action="/Tapestry/Overview">
    <input type="hidden" name="metablockId" value="@ViewData["metablockId"]" />
</form>
