@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@model List<EmailPlaceholder>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="nexusLowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="ldapMenuArea">
        @Ajax.RouteLink("Přidat proměnnou", "HermesPlaceholders", new { @action = "Create", @emailId = ViewData["emailId"] }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-plus" })
        @Ajax.RouteLink("Změnit pořadí", "HermesPlaceholders", new { @action = "ChangeOrder", @emailId = ViewData["emailId"] }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-arrows-v" })
    </div>
    <div id="nexusLowerPanelContainer">
        <h4>@string.Format("Seznam proměnných pro šablonu {0}", ViewData["TemplateName"])</h4>
        <table id="ldapTable" class="table table-bordered table-striped table-responsive">
            <colgroup>
                <col width="50">
                <col>
                <col>                
                <col width="50">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Proměnná</th>
                    <th>Popis</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (EmailPlaceholder p in Model.OrderBy(m => m.Num_Order))
                    {
                        <tr>
                            <td class="text-right">@p.Num_Order</td>
                            <td>@p.Prop_Name</td>
                            <td>@p.Description</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "HermesPlaceholders", new { @action = "Edit", @emailId = ViewData["emailId"], @id = p.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "HermesPlaceholders", new { @action = "Delete", @emailId = ViewData["emailId"], @id = p.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete proměnnou smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Nemáte nakonfigurovány žádné proměnné</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
