@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using Newtonsoft.Json.Linq
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="lowerPanelContainer">
        <div id="ContentContainer">

            <div>
                <h4>Details</h4>
                <table class="details-list table table-striped">
                    <tr>
                        <td>Id:</td>
                        <td>@ViewData["Id"]</td>
                    </tr>
                    <tr>
                        <td>Date send:</td>
                        <td>@ViewData["Date_Send"]</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>@ViewData["Status"]</td>
                    </tr>
                    @if (!String.IsNullOrEmpty((string)ViewData["SMTP_Error"]))
                    {
                        <tr>
                            <td>SMTP error:</td>
                            <td>@ViewData["SMTP_Error"]</td>
                        </tr>
                    }
                    <tr>
                        <td>Sender:</td>
                        <td>@ViewData["From_Name"] &lt;@ViewData["From_Email"]&gt;</td>
                    </tr>
                    <tr>
                        <td>Recievers:</td>
                        <td>
                            @foreach (JToken recipient in (JToken)ViewData["To"])
                            {
                                @Html.Raw(recipient["DisplayName"] + " &lt;" + recipient["Address"] + "&gt;")<br />
                            }
                        </td>
                    </tr>
                    @if ((JToken)ViewData["CC"] != null && ((JToken)ViewData["CC"]).Count() > 0)
                    {
                        <tr>
                            <td>Copy:</td>
                            <td>
                                @foreach (JToken copy in (JToken)ViewData["CC"])
                                {
                                    @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                                }
                            </td>
                        </tr>
                    }
                    @if ((JToken)ViewData["Bcc"] != null && ((JToken)ViewData["Bcc"]).Count() > 0)
                    {
                        <tr>
                            <td>Blind copy:</td>
                            <td>
                                @foreach (JToken copy in (JToken)ViewData["Bcc"])
                                {
                                    @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Subject:</td>
                        <td>@ViewData["Subject"]</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>@Html.Raw((bool)ViewData["Is_HTML"] ? ViewData["Content"] : ViewData["Content"].ToString().Replace("\n", "<br />"))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
