@model FSS.Omnius.Modules.Entitron.Entity.Hermes.EmailTemplate
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div>
    <h4>Detail záznamu</h4>
    <table class="details-list table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Is_HTML)</td>
            <td>@(Model.Is_HTML == true ? "ano" : "ne")</td>
        </tr>
    </table>
</div>
<p class="nexusDetailsButtons">
    @Ajax.RouteLink("Upravit", "Hermes", new { @action = "Edit", @id = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus" })
    @Html.RouteLink("Smazat", "Hermes", new { @action = "Delete", @id = Model.Id }, new { @class = "btn btn-nexus-red" })
</p>

