@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using FSS.Omnius.Controllers.CORE
@model System.Data.Entity.DbSet<EmailTemplate>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="nexusLowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="ldapMenuArea">
        @Ajax.RouteLink("Přidat šablonu e-mailu", "Hermes", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-plus" })
    </div>
    <div id="nexusLowerPanelContainer">
        <table id="ldapTable" class="table table-bordered table-striped table-responsive">
            <colgroup>
                <col width="50">
                <col>
                <col width="80">                
                <col width="150">
                <col width="90">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>HTML</th>
                    <th>Proměnné</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (EmailTemplate t in Model)
                    {
                        <tr>
                            <td>@t.Id</td>
                            <td>@t.Name</td>
                            <td class="text-center">@(t.Is_HTML ? "ano" : "ne")</td>
                            <td class="text-center">
                                @Html.RouteLink(
                                     string.Format("{0} {1}", @t.PlaceholderList.Count(), Utilities.Numbering(@t.PlaceholderList.Count(), "proměnná", "proměnné", "proměnných")),
                                     "HermesPlaceholders",
                                     new { @controller = "Placeholder", @action = "Index", @emailId = t.Id },
                                     new { @title = "Spravovat proměnné" }
                                 )
                            </td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "EditContent", @id = t.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-file-text-o ico-only btn btn-default", @title = "Upravit obsah" })
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Detail", @id = t.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Edit", @id = t.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "Hermes", new { @action = "Delete", @id = t.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete šablonu smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Nemáte nakonfigurovánu žádnou e-mailovou šablonu</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
