@model FSS.Omnius.Modules.Entitron.Entity.Nexus.API
@using System.Text;
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div>
    <h4>API details</h4>
    <table class="details-list table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Definition)</td>
            <td>@Html.DisplayFor(model => model.Definition)</td>
        </tr>
    </table>
</div>
<p class="nexusDetailsButtons">
    @Ajax.RouteLink("Edit", "Nexus", new { @action = "Edit", @id = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue" })
    @Html.RouteLink("Delete", "Nexus", new { @action = "Delete", @id = Model.Id }, new { @class = "btn btn-omnius-red" })
</p>
