@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<API>
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
@Html.Partial("~/Views/Nexus/Nexus/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Nexus/Nexus/Decoration.cshtml")
    <div id="apiMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Create API", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="lowerPanelContainer">
        <table id="webServicesTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col width="50" />
                <col />
                <col width="60" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (API a in Model)
                    {
                        <tr>
                            <td>@a.Id</td>
                            <td>@a.Name</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Detail", @id = a.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = a.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Edit" })
                                @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = a.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Delete", @onclick = "return confirm('Really want to delete?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">There are no API</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>