@using Mozaic.Models
@model TemplateCategory
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    @foreach (TemplateCategory category in Model.Children)
    {
        <tr>
            <td>@Html.ActionLink(category.Name, "Index", new { @id = category.Id })</td>
        </tr>
    }
    @foreach (Template template in Model.Templates)
    {
        <tr>
            <td>@template.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { @id = template.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { @id = template.Id })</td>
        </tr>
    }
</table>

@Html.ActionLink("New template", "Create", new { @categoryId = Model.Id })
@Html.ActionLink("New category", "CreateCategory", new { @parentId = Model.Id })
