@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><form class="form-horizontal" method="post"><div class="container"><p class="" style="height: 100%; font-size: 200%;">@(@"Přehled vozidel SSHMP")</p><div class="row"><div class="col-xs-12"><button type="submit" class="btn btn-primary btn-lg" name="button" value="New_vozidlo_button" id="New_vozidlo_button" style="margin-bottom: 30px; margin-top: 15px;" >@(@"Přidat odtahové vozidlo")</button></div></div><div class="row"><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Odtahová vozidla")</h3></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_Vozidla_tab") && ((System.Data.DataTable)(ViewData["tableData_Vozidla_tab"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="1" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="1" data-dtserverside="0" id="Vozidla_tab" role="grid" aria-describedby="Cars_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Vozidla_tab"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Vozidla_tab"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Vozidla_tab"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="edit" class="fa fa-pencil" data-action="edit" data-idparam="modelId" data-confirm=""></i> <i title="delete" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm="Opravdu chcete záznam smazat?"></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Vozidla_tab" />
</div></div></div><div class="row"><div class="col-xs-12"><button type="submit" class="btn btn-primary btn-lg" name="button" value="New_vozidlo_osobni_button" id="New_vozidlo_osobni_button" style="margin-bottom: 30px; margin-top: 15px;" >@(@"Přidat osobní služební vozidlo")</button></div></div><div class="row"><div class="col-xs-12 col-sm-1"><p class="">@(@"Kategorie:")</p></div><div class="col-xs-12 col-sm-4">
<select name="kategorie" class="form-control mbe-active" id="kategorie">
    @Html.Raw(@"<option value="""">None</option>")
    @{ if(ViewData["dropdownData_kategorie"] != null) {
            foreach(var option in ((Dictionary<int, string>)ViewData["dropdownData_kategorie"])) {
                <option value="@(option.Key)" @(ViewData.ContainsKey("dropdownSelection_kategorie") && ViewData["dropdownSelection_kategorie"].ToString() == option.Key.ToString() ? "selected" : "")>
                    @(option.Value)
                </option>
            }
        }
    }    
</select></div></div><div class="row"><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Odtahová vozidla")</h3></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_Vozidla_osobni_tab") && ((System.Data.DataTable)(ViewData["tableData_Vozidla_osobni_tab"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="1" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="1" data-dtserverside="0" id="Vozidla_osobni_tab" role="grid" aria-describedby="Cars_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Vozidla_osobni_tab"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Vozidla_osobni_tab"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Vozidla_osobni_tab"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="edit" class="fa fa-pencil" data-action="edit" data-idparam="modelId" data-confirm=""></i> <i title="delete" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm="Opravdu chcete záznam smazat?"></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Vozidla_osobni_tab" />
</div></div></div></div>@Html.AntiForgeryToken()</form></div>