@{
    Page.Title = "Omnius - User details";
    Page.ModuleClass = "userDetailsModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

<div id="detailsContainer">
    <h1 class="title">Detail uživatele</h1>
    <table class="userDetailsTable table table-striped">
        <tr>
            <td>Jméno</td>
            <td>@ViewData["UserFullName"]</td>
        </tr>
        <tr>
            <td>Společnost</td>
            <td>@ViewData["Company"]</td>
        </tr>
        <tr>
            <td>Oddělení</td>
            <td>@ViewData["Department"]</td>
        </tr>
        <tr>
            <td>Tým</td>
            <td>@ViewData["Team"]</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewData["Email"]</td>
        </tr>
        <tr>
            <td>Telefon do zaměstnání</td>
            <td>@ViewData["WorkPhone"]</td>
        </tr>
        <tr>
            <td>Mobilní telefon</td>
            <td>@ViewData["MobilePhone"]</td>
        </tr>
        <tr>
            <td>Adresa</td>
            <td>@ViewData["Address"]</td>
        </tr>
        <tr>
            <td>Poslední přihlášení</td>
            <td>@ViewData["LastLogin"]</td>
        </tr>
    </table>
</div>