@using FSS.Omnius.Modules.Entitron.Entity.Master
@{
    Page.Title = "Omnius App Manager";
    Page.ModuleClass = "appManagerModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

<div class="appWorkspace">
    @foreach (Application app in Application.getAllowed(Context.GetCORE(), User.Identity.Name))
    {
        <div class="appPanel appColor@(app.Color)" style="width: @(app.TileWidth*120-20)px; height: @(app.TileHeight*120-20)px;
         left: @(app.PositionX+10)px; top: @(app.PositionY+10)px;" data-target="/Tapestry/Run?AppName=@app.Name">
            <div class="appPanelHeader">
                <div class="appIcon">
                    <i class="fa @(app.Icon)"></i>
                </div>
                <div class="appTitle" style="font-size: @(app.TitleFontSize)px">@(app.DisplayName ?? app.Name)</div>
            </div>
            @Html.Raw(app.InnerHTML)
        </div>
    }
</div>
