@using FSS.Omnius.Modules.Entitron.Entity.Master
@using FSS.Omnius.Modules.Entitron.Entity
@{
    Page.Title = "Omnius App Manager";
    Page.ModuleClass = "appManagerModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
    var LoggedUser = Context.GetLoggedUser();
}

<div class="appWorkspace">
    @foreach (Application app in Application.getAllowed(Context.GetCORE(), User.Identity.Name).Where(c=>c.IsSystem==false))
    {
        var positionX = 0;
        var positionY = 0;
        //if theres is an user and the application in usersapplications table we take the value from that.If not,we create the new userApp entity.
        if(app.UsersApplications.Any(ua => ua.UserId == LoggedUser.Id && ua.ApplicationId == app.Id))
        {
            var userApp = app.UsersApplications.Single(u => u.UserId == LoggedUser.Id);
            positionX = userApp.PositionX;
            positionY = userApp.PositionY;
        }
        else
        {
            using (DBEntities db = new DBEntities()) {
                db.UsersApplications.Add(new UsersApplications() {ApplicationId = app.Id,UserId = LoggedUser.Id});
                db.SaveChanges();
            }
        }
            <div class="appPanel appColor@(app.Color)" style="width: @(app.TileWidth*120-20)px; height: @(app.TileHeight*120-20)px;
         left: @(positionX + 10)px; top: @(positionY + 10)px;" data-target="/@app.Name">
                <div class="appPanelHeader">
                    <div class="appIcon">
                        <i class="fa @(app.Icon)"></i>
                    </div>
                    <div class="appTitle" style="font-size: @(app.TitleFontSize)px">@(app.DisplayName ?? app.Name)</div>
                </div>
                @Html.Raw(app.InnerHTML)
            </div>

    }
</div>
