@using System.Collections
@using FSPOC_WebProject.Models
@{
    ViewBag.Title = "Omnius App Manager";
    Page.ModuleClass = "appManagerModule";
}

<script src="~/Scripts/AppManager.js"></script>

<select id="moduleSwitcher">
    <option value="apps" selected="selected">Application Manager</option>
    <option value="workflow">Workflow Designer</option>
    <option value="database">Database Designer</option>
    <option value="tapestry">Tapestry</option>
    <option value="overview">Overview</option>
    <option value="portal">Portal</option>
    <option value="block">Test workflow</option>
    <option value="rules">Rules</option>
</select>

@foreach (AppTile app in (IEnumerable<AppTile>)ViewData["Tiles"])
{
    <div class="appPanel appColor@(app.Color)" style="width: @(app.TileWidth*120-20)px; height: @(app.TileHeight*120-20)px;
         left: @(app.PositionX+10)px; top: @(app.PositionY+10)px;">

        <div class="appPanelHeader">
            <div class="appIcon">
                <i class="fa @(app.Icon)"></i>
            </div>
            <div class="appTitle" style="font-size: @(app.TitleFontSize)px">@app.Name</div>
        </div>
        @Html.Raw(app.InnerHTML)
    </div>
}
