@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using FSS.Omnius.Controllers.CORE
@model System.Data.Entity.DbSet<IncomingEmail>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="smtpMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Add inbox", "Hermes", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="lowerPanelContainer">
        <table id="smtpTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col width="100">
                <col>
                <col>
                <col width="60">
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Imap server</th>
                    <th>Imap port</th>
                    <th>User name</th>
                    <th>Rules</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (IncomingEmail s in Model)
                    {
                        <tr>
                            <td>@s.Id</td>
                            <td>@s.Name</td>
                            <td>@s.ImapServer</td>
                            <td class="text-right">@s.ImapPort</td>
                            <td>@s.UserName</td>
                            <td class="text-center">@Html.RouteLink(
                                     string.Format("{0} {1}", @s.IncomingEmailRule.Count(), Utilities.Numbering(@s.IncomingEmailRule.Count(), "pravidlo", "pravidla", "pravidel")),
                                     "HermesIncomingRule",
                                     new { @controller = "IncomingRule", @action = "Index", @mailboxId = s.Id },
                                     new { @title = "Manage rules" }
                                 )</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Detail", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Hermes", new { @action = "Edit", @id = s.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer", OnFailure = "debugger;" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Edit" })
                                @Html.RouteLink(" ", "Hermes", new { @action = "Delete", @id = s.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Delete", @onclick = "return confirm('Really want to delete?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">There is no inbox</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
