@model FSS.Omnius.Modules.Entitron.Entity.Cortex.Task
@using FSS.Omnius.Modules.Entitron.Entity.Cortex
@using FSS.Omnius.Controllers.Cortex
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
    CortexController c = (CortexController)this.ViewContext.Controller;
}
<div>
    <h4>Record detail</h4>
    <table class="details-list table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Active)</td>
            <td>@(Model.Active == true ? "Yes" : "No")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AppId)</td>
            <td>@(Model.AppId != null ? Model.Application.Name : "---")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Url)</td>
            <td>@Html.DisplayFor(model => model.Url)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Type)</td>
            <td>@(((Dictionary<ScheduleType, string>)ViewData["ScheduleTypeNames"])[Model.Type])</td>
        </tr>
        @if(Model.Type == ScheduleType.DAILY) {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Daily_Repeat)</td>
                <td>@(Model.Daily_Repeat) days</td>
            </tr>
        }
        @if(Model.Type == ScheduleType.WEEKLY) {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Weekly_Repeat)</td>
                <td>@Model.Weekly_Repeat weeks in @c.ViewWeekDays((Days)Model.Weekly_Days)</td>
            </tr>
        }
        @if(Model.Type == ScheduleType.MONTHLY) {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Monthly_Months)</td>
                <td>@c.ViewMonths(Model)</td>
            </tr>
            if(Model.Monthly_Type == MonthlyType.IN) {
                <tr>
                    <td>At</td>
                    <td>
                        @c.ViewInModifiers(Model)<br />
                        @c.ViewWeekDays((Days)Model.Monthly_In_Days)
                    </td>
                </tr>
            }
            if(Model.Monthly_Type == MonthlyType.DAYS) {
                <tr>
                    <td>Days</td>
                    <td>@c.ViewMonthDays(Model)</td>
                </tr>
            }
        }
        @if(Model.Type == ScheduleType.ONIDLE) {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Idle_Time)</td>
                <td>@Html.DisplayFor(model => model.Idle_Time) minutes</td>
            </tr>
        }
        @if(Model.Repeat) {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Repeat)</td>
                <td>Každých @Model.Repeat_Minute minutes for @Model.Repeat_Duration hours</td>
            </tr>
        }
        <tr>
            <td>Begin</td>
            <td>
                @(Model.Start_Date != null ? ((DateTime)Model.Start_Date).ToString("dd.MM.yyyy") : "---")
                @(Model.Start_Time != null ? ((TimeSpan)Model.Start_Time).ToString(@"hh\:mm") : "---")
            </td>
        </tr>
        <tr>
            <td>End</td>
            <td>
                @(Model.End_Date != null ? ((DateTime)Model.End_Date).ToString("dd.MM.yyyy") : "---")
                @(Model.End_Time != null ? ((TimeSpan)Model.End_Time).ToString(@"hh\:mm") : "---")
            </td>
        </tr>
</table>
</div>
<p class="nexusDetailsButtons">
    @Ajax.RouteLink("Edit", "Cortex", new { @action = "Edit", @id = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue" })
    @Html.RouteLink("Delete", "Cortex", new { @action = "Delete", @id = Model.Id }, new { @class = "btn btn-omnius-red" })
</p>
