@model Entitron.Entity.Module
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-group row">
    <div class="col-sm-2">
        <label class="control-label">Id</label>
    </div>
    <div class="col-sm-3">
        <p>@Model.Id</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <label class="control-label">Name</label>
    </div>
    <div class="col-sm-3">
        <p>@Model.Name</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <label class="control-label">Description</label>
    </div>
    <div class="col-sm-3">
        <p>@Model.Description</p>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <label class="control-label">Enable?</label>
    </div>
    <div class="col-sm-3">
        <p>@Model.IsEnabled</p>
    </div>
</div>
@Html.ActionLink("Update", "Update", new { @id = Model.Id }, new { @class = "btn btn-success" })
@Html.ActionLink(" ", "Delete", new { @id = Model.Id }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
@Ajax.ActionLink("Back", "Index", new { @id = Model.Id },new AjaxOptions(){InsertionMode = InsertionMode.Replace}, new { @class = "btn btn-default" })
