@using FSS.Omnius.Modules.Entitron.Entity.Watchtower;
@using FSS.Omnius.Modules.Entitron.Entity.Persona;
@using FSS.Omnius.Modules.Entitron.Entity.Master;
@using FSS.Omnius.FrontEnd.Models;

@model LogFilter
@{
    Page.Title = "Omnius Watchtower - Log";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "watchtowerModule";
}
<div id="upperPanel">
    <div id="watchtowerFormResponiveArea">
        <div class="panelLabel">Watchtower</div>
        <svg id="filterPanelDecoration" width="1300px" height="357px">
            <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
            <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
            <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
            <path d="M700 74 L1140 74 L1200 134 L1200 240 L980 240 L900 320 L190 320" stroke="#49c4f1" stroke-width="1" fill="none" />
        </svg>
        <img class="decorationWatcheye" src="~/Content/Images/watcheye_small.png" />
        <div id="filterPanelLabel">Vyhledávání</div>
        <form id="filterLogForm" method="post" action="/Watchtower">
            <table id="filterLogTable">
                <tr>
                    <td><label for="level">Level</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.LevelId, new SelectList(Model.Levels, "Value", "Text", "Selected"))
                    </td>
                    <td><label for="source">Server</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.Server, new SelectList(Model.Servers))
                    </td>
                </tr>
                <tr>
                    <td><label for="user">User</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.UserName, new SelectList(Model.Users, "UserName", "UserName"))
                    </td>
                    <td><label for="type">Source</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.SourceId, new SelectList(Model.Sources, "Value", "Text", "Selected"))
                    </td>
                </tr>
                <tr>
                    <td><label for="time-from">Since</label></td>
                    <td>
                        @Html.TextBoxFor(f => f.TimeSince, Model.TimeSince.ToString("dd.MM.yyyy HH:mm"))
                    </td>
                    <td><label for="source">Application</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.ApplicationName, new SelectList(Model.Applications, "Name", "DisplayName"))
                    </td>
                </tr>
                <tr>
                    <td><label for="time-to">To</label></td>
                    <td>
                        @Html.TextBoxFor(f => f.TimeTo, Model.TimeTo.ToString("dd.MM.yyyy HH:mm"))
                    </td>
                    <td><label for="source">Block</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.BlockName, new SelectList(Model.Blocks, "Name", "DisplayName"))
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><label for="source">Action</label></td>
                    <td>
                        @Html.DropDownListFor(f => f.ActionName, new SelectList(Model.Actions))
                    </td>
                </tr>
            </table>
            <div id="formButtonArea">
                <button id="resetSearchForm" type="reset" class="btn-omnius-rectangular">Zrušit</button>
                <button id="submitSearchForm" type="submit" class="btn-omnius-rectangular">Hledat</button>
            </div>
        </form>
    </div>
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Watchtower</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel">
    @if (Model.ResultItems.Count() > 0)
    {
        <table id="watchtowerLogTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Level</th>
                    <th>User</th>
                    <th>Server</th>
                    <th>Source</th>
                    <th>Application</th>
                    <th>Block</th>
                    <th>Action</th>
                    <th>Message</th>
                    <th>Variables</th>
                    <th>Stack Trace</th>
                </tr>
            </thead>
            @foreach (LogItem item in Model.ResultItems)
            {
                <tr>
                    <td>@item.TimeString</td>
                    <td>@item.LogLevelString</td>
                    <td>@item.UserName</td>
                    <td>@item.Server</td>
                    <td>@item.LogSourceString</td>
                    <td>@item.Application</td>
                    <td>@item.BlockName</td>
                    <td>@item.ActionName</td>
                    <td>@item.Message</td>
                    <td class="mytooltip">
                        Count: @item.VarsCount()
                        <div class="tooltiptext">@Html.Raw(item.VarHtmlTable())
                        </div>
                    </td>
                    <td class="mytooltip">
                        @item.StackTrace.FirstLine()
                        <div class="tooltiptext">@Html.Raw(item.StackTraceHtml())</div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="noSearchResults">Tomuto požadavku neodpovídají žádné záznamy</div>
    }
</div>
