@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model List<TCPSocketListener>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
@Html.Partial("~/Views/Nexus/Nexus/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Nexus/Nexus/Decoration.cshtml")
    <div id="ldapMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Přidat TCP soket", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="lowerPanelContainer">
        <h4 class="variableListTitle">Seznam TCP socketů</h4>
        <table id="socketTable" class="table table-bordered table-striped table-responsive table-omnius">
-            <colgroup>
                <col>
                <col>           
                <col>
                <col width="80">    
                <col>     
                <col width="80">
            </colgroup>
            <thead>
                <tr>
                    <th>Aplikace</th>
                    <th>Blok</th>
                    <th>Workflow</th>
                    <th>Port</th>
                    <th>Název</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (TCPSocketListener l in Model.OrderBy(m => m.Application.Name).ThenBy(m => m.BlockName).ThenBy(m => m.WorkflowName).ThenBy(m => m.Port))
                    {
                        <tr>
                            <td>@l.Application.Name</td>
                            <td>@l.BlockName</td>
                            <td>@l.WorkflowName</td>
                            <td>@l.Port</td>
                            <td>@l.Name</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = l.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete TCP socket smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Nemáte nakonfigurovány žádné TCP sockety</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
