@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T((FSS.Omnius.Modules.CORE.Locale)ViewData["locale"] ); }    <ul  id=appMenu>
@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <h4>@(t._("Administrace"))</h4>
    <ul >
@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledDodavatelu">@(t._("Přehled dodavatelů"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledPeriodik">@(t._("Přehled periodik"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledStavu">@(t._("Přehled stavů"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledCetnostiPeriodik">@(t._("Přehled četností periodik"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledForemPeriodik">@(t._("Přehled forem periodik"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledTypuPeriodik">@(t._("Přehled typů periodik"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledObjednavek">@(t._("Přehled objednávek"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/PrehledHromadnychObjednavek">@(t._("Přehled hromadných objednávek"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/DynamickyFiltr">@(t._("Dynamický filtr"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/Zastupci">@(t._("Zástupci"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/HromadnaZmena">@(t._("Hromadná změna"))</a>
            </li>
}    </ul>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,User,Asistent","EvidencePeriodik")){            <li>
                    <h4>@(t._("Objednávka"))</h4>
    <ul >
@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,User","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ZadaniObjednavkyPeriodika">@(t._("Zadání objednávky periodika"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,Asistent","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/HromadnaObjednavkaProAsistentky">@(t._("Hromadná objednávka pro asistentky"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ZadaniObjednavkyAdministratorem">@(t._("Zadání objednávky administrátorem"))</a>
            </li>
}    </ul>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,User,Asistent","EvidencePeriodik")){            <li>
                    <h4>@(t._("Reporty"))</h4>
    <ul >
@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,User","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ZakladniReport">@(t._("Základní report"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,Asistent","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ReportProAsistentky">@(t._("Report pro asistentky"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("Admin,User","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ReportProVedouciPracovniky">@(t._("Report pro vedoucí pracovníky"))</a>
            </li>
}@if (FSS.Omnius.Modules.CORE.COREobject.i.User.canUseBlock("User","EvidencePeriodik")){            <li>
                    <a href="/EvidencePeriodik/ReportHromadnychObjednavek">@(t._("Report hromadných objednávek"))</a>
            </li>
}    </ul>
            </li>
}    </ul>
