@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><form class="form-horizontal" method="post"><div class="container"><div class="row"><div class="clearfix"><div class="col-xs-12"><div class="panel panel-default" ><div class="panel-heading"><div class=""><span class="" id="noactionUsers" style="font-size: 25px;">@(@"Users")</span></div></div><div class="panel-body"><div class="row"><div class="col-xs-6"><div class="form-group"><div class="col-xs-12">
<select name="select" class="form-control" id="select">
    
    @{ if(ViewData["dropdownData_select"] != null) {
            foreach(var option in ((Dictionary<int, string>)ViewData["dropdownData_select"])) {
                <option value="@(option.Key)" @(ViewData.ContainsKey("dropdownSelection_select") && ViewData["dropdownSelection_select"].ToString() == option.Key.ToString() ? "selected" : "")>
                    @(option.Value)
                </option>
            }
        }
    }    
</select></div></div></div><div class="col-xs-6"><div class="form-group"><div class="col-xs-12"><button type="submit" class="btn btn-primary btn-lg" name="button" value="SaveCategory" id="SaveCategory" >@(@"Save")</button></div></div></div></div><div class=""><ul class="nav nav-tabs"><li class=""><a href="#tab-nove" data-toggle="tab" aria-expanded="false" class="">@(@"New / In process")</a></li><li class=""><a href="#tab-schvalene" data-toggle="tab" aria-expanded="false" class="bg-success">@(@"Approved")</a></li><li class="active"><a href="#tab-zamitnute" data-toggle="tab" aria-expanded="true" class="bg-danger">@(@"Rejected")</a></li></ul><div class="tab-content"><div class="tab-pane" id="tab-nove"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_Profiles_table_nove") && ((System.Data.DataTable)(ViewData["tableData_Profiles_table_nove"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable modalType" data-dtpaging="1" data-dtinfo="1" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="1" data-dtserverside="0" id="Profiles_table_nove" role="grid" aria-describedby="Profiles_table_nove_info" data-dtselect="1" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_nove"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_nove"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_nove"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="modal" class="fa fa-edit" data-action="modal" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Profiles_table_nove" />
</div></div><div class="tab-pane" id="tab-schvalene"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_Profiles_table_schvalene") && ((System.Data.DataTable)(ViewData["tableData_Profiles_table_schvalene"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable modalType" data-dtpaging="1" data-dtinfo="1" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="1" data-dtserverside="0" id="Profiles_table_schvalene" role="grid" aria-describedby="Profiles_table_schvalene_info" data-dtselect="1" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_schvalene"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_schvalene"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_schvalene"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="modal" class="fa fa-edit" data-action="modal" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Profiles_table_schvalene" />
</div></div><div class="tab-pane active" id="tab-zamitnute"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_Profiles_table_zamitnute") && ((System.Data.DataTable)(ViewData["tableData_Profiles_table_zamitnute"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable modalType" data-dtpaging="1" data-dtinfo="1" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="1" data-dtserverside="0" id="Profiles_table_zamitnute" role="grid" aria-describedby="Profiles_table_zamitnute_info" data-dtselect="1" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_zamitnute"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_zamitnute"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_Profiles_table_zamitnute"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="modal" class="fa fa-edit" data-action="modal" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="Profiles_table_zamitnute" />
</div></div></div></div></div></div></div></div></div></div>@Html.AntiForgeryToken()</form><div class="container"><div class="row"><div class="modal fade modal-large" tabindex="-1" role="dialog" id="modalProfile" style="display: none;"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header" style="height: 35px"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><div class="empty-element" id="modal_name_profile"></div><p></p></div><div class="modal-body" style="padding: 0px"><div class="row" id="preloader_profile"><div class="col-xs-12"><div class="" style="text-align:center; "><img src="/Content/Images/Icons/modalpreloader.gif" alt="" class="" style="padding:50px 0;"></img></div></div></div><div class="empty-element" id="modal_body_profile"></div><div class="empty-element" id="modal_body_cash"></div></div></div></div></div><form class="form-horizontal" method="post" style="display: inline-block;"><div class="modal fade mbe-active" tabindex="-1" role="dialog" style="position: absolute; z-index: 5000; display: none;" id="modalDeclineReason"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title">@(@"Reason for declining the documents")</h4></div><div class="modal-body"><textarea class="form-control empty-element" name="declineReason" value="" id="declineReason" style="margin: 0px 2px 0px 0px; width: 100%; height: 100%; resize: none">@(formState.ContainsKey("declineReason") ? formState["declineReason"] : ViewData["inputData_declineReason"])</textarea></div><div class="modal-footer"><button type="submit" class="btn btn-primary" name="button" value="buttonOkDecline" id="buttonOkDecline" >@(@"Ok")</button></div></div></div></div>@Html.AntiForgeryToken()</form></div></div></div><script type="text/javascript" src="/Scripts/UserScripts/Application/Xmu/ModalWebDav.js"></script>