@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><div class="" id="ProfileDiv"><div class="container"><form class="form-horizontal" method="post"><div class="panel panel-default" ><div class="panel-heading"><div class="" id="modal_name_profile"><h2 class="panel-title" style="float: left;">Settings of <span class="" id="headingUsername">@(@"{var1}".Replace("{var1}", (ViewData.FirstOrDefault(v => v.Key.EndsWith("headingUsername")).Value ?? "").ToString()))</span><span class="">@(@" (ID: ")</span><span class="" id="headingHash">@(@"{var1}".Replace("{var1}", (ViewData.FirstOrDefault(v => v.Key.EndsWith("headingHash")).Value ?? "").ToString()))</span><span class="">@(@")")</span></h2></div></div><div class="panel-body"><div class="" id="modal_body_profile"><div class="row" style="padding: 50px"><div class="col-xs-12 col-lg-12"><div class="form-group"><label for="inputUsername" class="col-lg-3 col-sm-3 col-md-2">@(@"Username")</label><div class="col-xs-9" style="padding: 0px"><input name="inputUsername" value="@(formState.ContainsKey("inputUsername") ? formState["inputUsername"] : (ViewData.ContainsKey("inputData_inputUsername") ? @ViewData["inputData_inputUsername"] : ""))" class="form-control input-sm" id="inputUsername" type="text" /></div></div><div class="form-group"><label for="inputName" class="col-lg-3 col-sm-3 col-md-2">@(@"Name")</label><div class="col-xs-9" style="padding: 0px"><input name="inputName" value="@(formState.ContainsKey("inputName") ? formState["inputName"] : (ViewData.ContainsKey("inputData_inputName") ? @ViewData["inputData_inputName"] : ""))" class="form-control input-sm" id="inputName" type="text" /></div></div><div class="form-group"><label for="inputEmail" class="col-lg-3 col-sm-3 col-md-2">@(@"Email")</label><div class="col-xs-9" style="padding: 0px"><input name="inputEmail" value="@(formState.ContainsKey("inputEmail") ? formState["inputEmail"] : (ViewData.ContainsKey("inputData_inputEmail") ? @ViewData["inputData_inputEmail"] : ""))" class="form-control input-sm" id="inputEmail" type="text" /></div></div><div class="row" style="padding-bottom: 20px;"><label for="name_input" class="col-lg-3 col-sm-3 col-md-2">@(@"ID Card Photos")</label><img src="" width="80" height="80" alt="" class=""></img></div><div class="form-group"><label for="inputOtherDetail" class="col-lg-3 col-sm-3 col-md-2">@(@"Other detail")</label><div class="col-xs-9" style="padding: 0px"><textarea class="form-control empty-element" name="inputOtherDetail" value="" id="inputOtherDetail">@(formState.ContainsKey("inputOtherDetail") ? formState["inputOtherDetail"] : ViewData["inputData_inputOtherDetail"])</textarea></div></div><button type="submit" class="btn btn-primary" id="buttonUpdate" name="button" value="buttonUpdate" data-toggle="modal" data-target="#modalUpdate" >@(@"Update")</button><button type="submit" class="btn btn-success" id="buttonCredit" name="button" value="buttonCredit" style="margin-left: 15px;" data-toggle="modal" data-target="#modalCredit" >@(@"Credit")</button><button type="submit" class="btn btn-warning" id="buttonReset" name="button" value="buttonReset" data-toggle="modal" data-target="#modalReset" style="margin-left: 15px;" >@(@"Reset")</button><button type="submit" class="btn btn-danger" id="buttonSuspend" name="button" value="buttonSuspend" style="margin-left: 15px;" data-toggle="modal" data-target="#modalSuspend" >@(@"Suspend ")</button></div></div></div></div></div><div class="" id="modal_body_cash"><div class="panel panel-default" id="panelBalance" ><div class="panel-heading"><h3 class="panel-title">@(@"Balance")</h3></div><div class="panel-body"><div class="col-xs-12 col-md-6" style="padding-bottom: 15px">
@{ if(ViewData.ContainsKey("tableData_datatableCrypto") && ((System.Data.DataTable)(ViewData["tableData_datatableCrypto"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableCrypto" role="grid" aria-describedby="datatableCrypto_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableCrypto"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableCrypto"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableCrypto"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableCrypto" />
</div><div class="col-xs-12 col-md-6" style="padding-bottom: 15px">
@{ if(ViewData.ContainsKey("tableData_datatableFiat") && ((System.Data.DataTable)(ViewData["tableData_datatableFiat"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableFiat" role="grid" aria-describedby="datatableFiat_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableFiat"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableFiat"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableFiat"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableFiat" />
</div><div class="col-xs-12"><p class="text-center lead" style="font-weight: bold;">@(@"Total amount in USD: {var1}")</p></div></div></div><div class="panel panel-default" id="panelTransactions" ><div class="panel-heading" role="button" aria-expanded="true" href="#actualYieldBody" data-toggle="collapse"><h3 class="panel-title">@(@"Transactions ")</h3></div><div class="panel-body collapse in" id="actualTransactions" aria-expanded="true" style="padding: 0px;"><div class=""><ul class="nav nav-tabs"><li class=""><a href="#tabTrades" data-toggle="tab" aria-expanded="false" class="active">@(@"Trades")</a></li><li class=""><a href="#tabWithdrawals" data-toggle="tab" aria-expanded="false" class="">@(@"Withdrawals")</a></li><li class=""><a href="#tabDeposits" data-toggle="tab" aria-expanded="false" class="">@(@"Deposits")</a></li><li class="active"><a href="#tabPending" data-toggle="tab" aria-expanded="true" class="">@(@"Pending requests")</a></li><li class=""><a href="#tabSupport" data-toggle="tab" aria-expanded="false" class="">@(@"Support requests")</a></li></ul><div class="tab-content"><div class="tab-pane" id="tabTrades"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_datatableTrades") && ((System.Data.DataTable)(ViewData["tableData_datatableTrades"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="1" data-dtinfo="1" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableTrades" role="grid" aria-describedby="datatableTrades_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableTrades"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableTrades"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableTrades"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableTrades" />
</div></div><div class="tab-pane" id="tabWithdrawals"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_datatableWithdrawals") && ((System.Data.DataTable)(ViewData["tableData_datatableWithdrawals"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableWithdrawals" role="grid" aria-describedby="datatableWithdrawals_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableWithdrawals"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableWithdrawals"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableWithdrawals"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableWithdrawals" />
</div></div><div class="tab-pane" id="tabDeposits"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_datatableDeposits") && ((System.Data.DataTable)(ViewData["tableData_datatableDeposits"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="1" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableDeposits" role="grid" aria-describedby="datatableDeposits_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableDeposits"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableDeposits"])).Columns) {
                <th>@col.Caption</th>
            }
                
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableDeposits"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableDeposits" />
</div></div><div class="tab-pane active" id="tabPending"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_datatablePending") && ((System.Data.DataTable)(ViewData["tableData_datatablePending"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="0" data-dtserverside="0" id="datatablePending" role="grid" aria-describedby="datatablePending_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatablePending"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatablePending"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatablePending"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="allow" class="fa fa-check-circle" data-action="allow" data-idparam="modelId" data-confirm=""></i> <i title="stop" class="fa fa-times-circle" data-action="stop" data-idparam="modelId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatablePending" />
</div></div><div class="tab-pane" id="tabSupport"><div class="col-xs-12">
@{ if(ViewData.ContainsKey("tableData_datatableSupport") && ((System.Data.DataTable)(ViewData["tableData_datatableSupport"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="0" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="0" data-dtserverside="0" id="datatableSupport" role="grid" aria-describedby="datatableSupport_info" style="">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableSupport"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_datatableSupport"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_datatableSupport"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="modal" class="fa fa-edit" data-action="modal" data-idparam="modelId" data-confirm=""></i> <i title="delete" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="datatableSupport" />
</div></div></div></div></div><div class="panel-footer hidden"><span class="">@(@"Panel footer")</span></div></div></div>
<div class="row" style="padding: 0px"><div class="col-xs-12"><button type="submit" class="btn btn-primary" id="buttonBack" name="button" value="buttonBack" style="margin: 30px" >@(@"Back")</button></div></div>@Html.AntiForgeryToken()</form></div></div><div class="" id="modal_modal_profile"><div class="modal fade" tabindex="-1" role="dialog" style="display: none;" id="modalReset"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title">@(@"Are you sure?")</h4></div><div class="modal-body"><p class="">@(@"Do you really want to reset this profiles' balance?")</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal" value="buttonNo" id="buttonNo" name="button" >@(@"No")</button><button type="button" class="btn btn-primary" name="button" value="buttonYes" id="buttonYesReset" >@(@"Yes")</button></div></div></div></div><div class="modal fade" tabindex="-1" role="dialog" style="display: none;" id="modalSuspend"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title">@(@"Are you sure?")</h4></div><div class="modal-body"><p class="">@(@"Do you really want to freeze all actives?")</p></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal" value="buttonNo" id="buttonNo" name="button" >@(@"No")</button><button type="submit" class="btn btn-primary" name="button" value="buttonYes" id="buttonYesSuspend" >@(@"Yes")</button></div></div></div></div><div class="modal fade" tabindex="-1" role="dialog" style="display: none;" id="modalCredit"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title">@(@"Add money to your account")</h4></div><div class="modal-body"><form class="form-horizontal" method="post"><div class="form-group"><label for="inputUsername" class="col-lg-3 col-sm-3 col-md-2">@(@"Amount")</label><div class="col-xs-9" style="padding: 0px"><input type="number" name="" value="@(formState.ContainsKey("") ? formState[""] : (ViewData.ContainsKey("inputData_") ? @ViewData["inputData_"] : ""))" class="form-control input-sm" min="0" /></div></div><div class="form-group"><label for="inputUsername" class="col-lg-3 col-sm-3 col-md-2">@(@"Currency")</label><div class="col-xs-9" style="padding: 0px"><input name="inputUsername" value="@(formState.ContainsKey("inputUsername") ? formState["inputUsername"] : (ViewData.ContainsKey("inputData_inputUsername") ? @ViewData["inputData_inputUsername"] : ""))" class="form-control input-sm" id="inputUsername" type="text" /></div></div>@Html.AntiForgeryToken()</form></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal" value="buttonNo" id="buttonNo" name="button" >@(@"Cancel")</button><button type="button" class="btn btn-primary mbe-active" name="button" value="buttonYes" id="buttonYesCredit" >@(@"Add")</button></div></div></div></div></div></div>