@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><form class="form-horizontal" method="post"><div class="container"><div class="row"><div class="panel panel-default" ><div class="panel-heading"><div class="" id="modal_name_profile"><h3 class="panel-title">@(@"WebDav Users")</h3></div></div><div class="panel-body"><div class="" id="modal_body_profile"><div class="row" id="referral_id" style="padding: 15px 20px;"><div class="form-group">
@{ if(ViewData.ContainsKey("foreachimage")) {
        foreach(var row in (IEnumerable<FSS.Omnius.Modules.Entitron.DB.DBItem>)ViewData["foreachimage"]) {
            <div class="mbe-active">
                <img src="@(Convert.ToString(row["url"]))" width="80" height="80" alt="" class="" id="image"></img>   
            </div>
        }
    }
}</div><div class="col-xs-6"><div class="form-group"><label for="" class="">@(@"Category")</label><div class="col-xs-12"><input type="text" name="userLevel" value="@(formState.ContainsKey("userLevel") ? formState["userLevel"] : (ViewData.ContainsKey("inputData_userLevel") ? @ViewData["inputData_userLevel"] : ""))" class="form-control" readonly="readonly" id="userLevel" /></div></div><div class="form-group"><label for="" class="">@(@"Select user level")</label><div class="col-xs-12">
<select name="" class="form-control" id="category">
    
    @{ if(ViewData["dropdownData_category"] != null) {
            foreach(var option in ((Dictionary<int, string>)ViewData["dropdownData_category"])) {
                <option value="@(option.Key)" @((formState.ContainsKey("category") && Convert.ToInt32(formState["category"]) == option.Key) || (ViewData.ContainsKey("dropdownSelection_category") && ViewData["dropdownSelection_category"] is int && (int)ViewData["dropdownSelection_category"] == option.Key) ? "selected" : "")>
                    @(option.Value)
                </option>
            }
        }
    }    
</select></div></div></div><div class="col-xs-6"><div class="form-group"><label for="" class="">@(@"User Id")</label><div class="col-xs-12"><input type="text" name="user_id" value="@(formState.ContainsKey("user_id") ? formState["user_id"] : (ViewData.ContainsKey("inputData_user_id") ? @ViewData["inputData_user_id"] : ""))" class="form-control" readonly="readonly" id="user_id" /></div></div></div></div></div><button type="submit" class="btn btn-primary btn-lg" name="button" value="Save" id="Save" >@(@"Save")</button></div></div></div></div>@Html.AntiForgeryToken()</form></div>