@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><form class="form-horizontal" method="post"><div class="container mbe-active"><h1 class="">@(@"Bank account")</h1><button class="btn btn-lg btn-primary" type="submit" name="button" id="new_bank_account" value="new_bank_account" style="margin-bottom: 30px; margin-top: 15px;" >@(@"New Bank account")</button><div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title">@(@"Bank Account")</h3></div><div class="panel-body">
@{ if(ViewData.ContainsKey("tableData_bank_accounts") && ((System.Data.DataTable)(ViewData["tableData_bank_accounts"])).Rows.Count > 0) {
    <table class="table data-table no-footer dataTable" data-dtpaging="1" data-dtinfo="0" data-dtfilter="0" data-dtordering="0" data-dtcolumnfilter="0" id="bank_accounts" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_bank_accounts"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_bank_accounts"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_bank_accounts"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="edit" class="fa fa-edit" data-action="edit" data-idparam="modelId" data-confirm=""></i> <i title="delete" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm="Opravdu chcete daný záznam smazat?"></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="bank_accounts" />
</div></div></div>@Html.AntiForgeryToken()</form></div>