<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>@Page.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/scss/Bundled.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body class="@Page.ModuleClass">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CommonLibraries")
    @Scripts.Render("~/bundles/OmniusScripts")
    <div id="topBar">
        <div id="omniusLogo"></div>
        <div class="searchField">
            <img class="searchIcon" src="~/Content/images/SearchIcon.png" />
            <input type = "text" class="searchInput" />
        </div>
        <div class="userLabel">
            <div class="avatar"></div>
            <div class="name">Jana Nováková</div>
            <div class="role">Technical administrator</div>
            <div class="fa fa-caret-down"></div>
        </div>
    </div>
    <div id="leftBarArea"></div>
    <div id="leftBar">
        <ul class="leftMenu">
            <li class="active"><a href="/CORE/Portal">Centrální administrace</a></li>
            <li>Identity management</li>
            <li><a href="/Portal/Applications">Správa aplikací</a></li>
            <li><a href="/Nexus/LDAP">Integrace</a></li>
            <li class="expanded">Vytvoření aplikace</li>
            <li class="subMenu"><a href="/Tapestry/Builder">Návrh workflow</a></li>
            <li class="subMenu"><a href="/Entitron/DbDesigner">Datové struktury</a></li>
            <li class="subMenu"><a href="/Mozaic/TemplateCategory">Návrh UI</a></li>
            <li>Asynchronní úlohy</li>
            <li>Audity a logování</li>
            <li>Analytický modul</li>
            <li>Vyhledávání</li>
            <li>Bezpečnost</li>
            <li><a href="/Master/Home">Uživatelská sekce</a></li>
        </ul>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
