<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>@Page.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/jquery.contextMenu.css")
    @Styles.Render("~/Content/scss/Bundled.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    @{ FSS.Omnius.Modules.Entitron.Entity.Persona.ModuleAccessPermission map = User.GetLogged().ModuleAccessPermission; }
</head>
<body class="@Page.ModuleClass">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CommonLibraries")
    @Scripts.Render("~/bundles/OmniusScripts")
    <div id="topBar">
        <div id="omniusLogo"></div>
        <div class="searchField">
            <img class="searchIcon" src="~/Content/images/SearchIcon.png" />
            <input type = "text" class="searchInput" />
        </div>
        <div class="userLabel">
            <div class="avatar"></div>
            <div class="name">@User.GetLogged().DisplayName</div>
            <div class="role">@User.GetLogged().Job</div>
            <div class="fa fa-caret-down"></div>
        </div>
    </div>
    <div id="leftBarArea"></div>
    <div id="leftBar">
        <ul class="leftMenu">
            @if (map.Core)
            {
                <li id="adminMenuPortal"><a href="/CORE/Portal">Centrální administrace</a></li>
            }
            @if (map.Persona)
            {
                <li id="identitySuperMenu" class="expandable">Identity management</li>
                <li id="adminMenuPersona" class="subMenu identitySubMenu"><a href="/Persona/Rights">Přístup k aplikacím</a></li>
                <li id="adminMenuPersonaModules" class="subMenu identitySubMenu"><a href="/Persona/Modules">Přístup k modulům</a></li>
            }
            @if (map.Master)
            {
                <li id="adminMenuApps"><a href="/Master/AppAdminManager">Správa aplikací</a></li>
            }
            @if (map.Nexus)
            {
                <li id="adminMenuNexus"><a href="/Nexus/LDAP">Integrace</a></li>
            }
            @if (map.Tapestry || map.Entitron || map.Mozaic)
            {
                <li id="appSuperMenu" class="expandable">Vytvoření aplikace</li>
                if (map.Tapestry)
                {
                    <li id="adminMenuTapestry" class="subMenu appSubMenu"><a href="/Tapestry/Overview">Návrh workflow</a></li>
                }
                if (map.Entitron)
                {
                    <li id="adminMenuDbDesigner" class="subMenu appSubMenu"><a href="/Entitron/DbDesigner">Datové struktury</a></li>
                }
                if (map.Mozaic)
                {
                    <li id="adminMenuMozaic" class="subMenu appSubMenu"><a href="/Mozaic/TemplateCategory">Návrh UI</a></li>
                }
            }
            @if (map.Hermes)
            {
                <li id="adminMenuHermes"><a href="/Hermes/SMTP">E-maily</a></li>
            }
            <li>Asynchronní úlohy</li>
            @if (map.Watchtower)
            {
                <li id="adminMenuWatchtower"><a href="/Watchtower">Audity a logování­</a></li>
            }
            <li>Analytický modul</li>
            <li>Vyhledávání</li>
            <li>Bezpečnost</li>
            <li><a href="/Master/Home">Uživatelská sekce</a></li>
        </ul>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
