@using FSS.Omnius.Modules.Entitron.Entity.Master
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title RWE OSS</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/scss/Bundled.min.css")
    @RenderSection("Styles", false)
</head>
<body class="@Page.ModuleClass userLayout">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CommonLibraries")
    <div id="userTopBar">
        <a href="/Master"><div class="icon activeIcon" id="appManagerIcon"><div class="fa fa-th"></div></div></a>
        @if (Context.GetLoggedUser().isAdmin())
        {
            <a href="/CORE"><div class="icon" id="adminSectionIcon"><div class="fa fa-cog"></div></div></a>
        }
        <a href="/Master/Home/Help"><div class="icon" id="helpIcon"><div class="fa fa-question-circle"></div></div></a>

        <div class="clientTitleArea">
            <div class="clientTitle">Oss Portál</div>
        </div>

        <div class="userBox">
            <div class="notificationIcon fa fa-bell"></div>
            <div class="avatar"></div>
            <div class="fullName">@Context.GetLoggedUser().DisplayName</div>
            <div class="commands">@Html.Raw(Context.GetLoggedUser().isLocalUser ? $"<form action=\"/Persona/Account/LogOff\" id=\"logoutForm\" method=\"POST\">{Html.AntiForgeryToken()}</form><a id=\"logoutLink\" href=\"/Persona/Account/LogOff\">odhlásit</a> | " : "")<a href="/Master/Home/Details">detail</a></div>
        </div>
        <div class="searchBox">
            <div class="searchArrow"><div class="fa fa-caret-down"></div></div>
            <input type="text" placeholder="Vyhledat v aplikaci" class="searchInputField" />
            <div class="searchIcon fa fa-search"></div>
        </div>
    </div>
    <div id="userLeftBar">
        <div id="hideMenuIcon" class="fa fa-angle-double-left"></div>
        @if ((string)ViewData["Mode"] == "App")
        {
            <div class="widgetLabel">Menu</div>
            <ul id="appMenu">
                <li>
                    <h4>Administrace</h4>
                    <ul>
                        <li><a href="/Mozaic/ViewPage/Index/13">Přehled dodavatelů</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/14">Přehled Periodik</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/15">Přehled objednávek</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/16">Přehled hromadných objednávek</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/18">Přehled příznaků objednávek</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/19">Přehled forem periodik</a></li>
                        <li><a href="#">Přehled příznaků schvalování</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/20">Přehled četností periodik</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/21">Přehled typů periodik</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/22">Hromadná změna</a></li>
                        <li><a href="#">Dynamický filtr</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/25">Zástupci</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Objenávka</h4>
                    <ul>
                        <li><a href="/Mozaic/ViewPage/Index/9">Zadání objednávky periodika</a></li>
                        <li><a href="#">Hromadná objednávka pro asistentky</a></li>
                        <li><a href="#">Objednávka periodik knihovnou</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/9">Zadání objednávky</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Reporty</h4>
                    <ul>
                        <li><a href="/Mozaic/ViewPage/Index/24">Kompletní přehled</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/26">Zjednodušený přehled</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/27">Podklad pro zůčtování</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/28">Objednávky knihovny</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/11">Základní report</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/29">Report pro asistentky</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/30">Report pro vedoucí pracovníky</a></li>
                        <li><a href="/Mozaic/ViewPage/Index/31">Report hromadných objednávek</a></li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <div class="widgetLabel">Nejpoužívanější aplikace</div>
            <div class="circles">
                <div class="fa fa-circle"></div>
                <div class="fa fa-circle-o"></div>
                <div class="fa fa-circle-o"></div>
                <div class="fa fa-circle-o"></div>
                <div class="fa fa-circle-o"></div>
            </div>
            <div class="appList">
                @foreach (Application app in Context.GetCORE().Entitron.GetStaticTables().Applications.Where(a =>
                        a.IsPublished
                        && a.IsEnabled
                        && a.ADgroups.FirstOrDefault().ADgroup_Users.Any(adu => adu.User.UserName == User.Identity.Name)
                    ))
                {
                    <a href="@ViewData["FakeAppPath"]">
                        <div class="appListItem">
                            <div class="icon fa @(app.Icon)"></div>
                            <div class="appName">@app.DisplayName</div>
                        </div>
                    </a>
                }
            </div>
            <div class="infoBox">
                <div class="icon fa fa-info-circle"></div>
                <div class="infoText">
                    Kliknutím na navigační šipku v hlavičce
                    můžete měnit způsob zobrazených
                    aplikací v menu.
                </div>
            </div>
        }
    </div>
    <div id="userLeftBarMinimized">
        <div id="showMenuIcon" class="fa fa-angle-double-right"></div>
        @if ((string)ViewData["Mode"] != "App")
        {
            <div class="appIconToolbar">
                @foreach (Application app in Context.GetCORE().Entitron.GetStaticTables().Applications.Where(a =>
                        a.IsPublished
                        && a.IsEnabled
                        && a.ADgroups.FirstOrDefault().ADgroup_Users.Any(adu => adu.User.UserName == User.Identity.Name)
                    ))
                {
                    <a href="@ViewData["FakeAppPath"]">
                        <div class="appIconToolbarItem">
                            <div class="icon fa @(app.Icon)"></div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
    <div id="userContentArea">
        @RenderBody()
    </div>
    <input id="fakeAppPath" type="hidden" value="@ViewData["FakeAppPath"]"/>

    @Scripts.Render("~/bundles/OmniusScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
