@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Js

@using (Ajax.BeginRouteForm("Mozaic", new { Controller = "Js", Action = "Update" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "form form-horizontal" }))
{
    <div class="form-group">
        <label for="JsAppName" class="control-label col-sm-2">Aplikace:</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.ApplicationId, (List<SelectListItem>)ViewData["appList"], "-- vyberte --", new { @id = "JsAppName", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="JsPageName" class="control-label col-sm-2">Stránka:</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.MozaicBootstrapPageId, (List<SelectListItem>)ViewData["pageList"], "-- nevybráno --", new { @id = "JsPageName", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="JsName" class="control-label col-sm-2">Název:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new { @id = "JsName", @maxlength = 50, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="JsValue" class="control-label col-sm-2">Js kód:</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.Value, new { @rows = "60", @style = "resize:vertical", @id = "JsValue", @resize = "vertical", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="saveButton" class="btn btn-primary pull-right">Uložit</button>
        @Html.ActionLink("Zpět", "Index", new { }, new { @class = "btn btn-default" })
    </div>
    
    <!-- Input validation -->
    <link href="~/Scripts/cm/lib/codemirror.css" rel="stylesheet" />
    <link href="~/Scripts/cm/addon/hint/show-hint.css" rel="stylesheet" />

    <script src="~/Scripts/cm/lib/codemirror.js"></script>

    <script src="~/Scripts/cm/mode/javascript/javascript.js"></script>

    <script src="~/Scripts/cm/addon/hint/show-hint.js"></script>
    <script src="~/Scripts/cm/addon/hint/javascript-hint.js"></script>
    
    <script src="~/Scripts/cm/addon/edit/closebrackets.js"></script>
    <script src="~/Scripts/cm/addon/edit/matchbrackets.js"></script>
    
    <script>
        var JsEditor = {
            
            editor: null,

            init: function () {
                setTimeout(function () {
                    JsEditor.editor = CodeMirror.fromTextArea(document.getElementById("JsValue"), {
                        lineNumbers: true,
                        lineWrapping: false,
                        matchBrackets: true,
                        autoCloseBrackets: true,
                        mode: "text/javascript",
                        extraKeys: {
                            "Ctrl-Space": "autocomplete"
                        }
                    });

                    JsEditor.editor.setSize(null, 700);
                }, 500);

                $(document)
                    .on('change', '#JsAppName', JsEditor.changeApp)
                    .on('keydown', JsEditor.checkKey);
            },

            changeApp: function()
            {
                $('#JsPageName option:gt(0)').remove();
                if (this.value.length) {
                    $.ajax('/Mozaic/Js/GetPageList', {
                        type: 'post',
                        dataType: 'json',
                        data: { appId: this.value },
                        success: JsEditor.setPageList
                    });
                }
            },

            setPageList: function(data)
            {
                for (i in data) {
                    $('#JsPageName').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');
                }
            },

            checkKey: function (e) {
                if (e.ctrlKey || e.metaKey) {
                    if (String.fromCharCode(e.which).toLowerCase() == 's') {
                        e.preventDefault();

                        var form = $('#form0');
                        JsEditor.editor.save();

                        $.ajax(form.attr('action'), {
                            type: 'POST',
                            data: form.serialize(),
                            success: function () {
                                alert('ok');
                            },
                            error: function () {
                                alert('ko');
                            }
                        });
                    }
                }
            }
        };

        $(JsEditor.init);

    </script>
}













