@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Css

<div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Název
            </label>
        </div>
        <div>
            <p>@Model.Name</p>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Obsah
            </label>
        </div>
        <div>
            <text>
                <pre style="font-family:inherit">
@Model.Value.Replace("\n", "<br/>");
                </pre>
            </text>
        </div>

        @Ajax.RouteLink("Upravit", "Mozaic", new { @action = "Update", @id = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-primary" })
        @Html.RouteLink("Odstranit", "Mozaic", new { @action = "Delete", @id = Model.Id }, new { @class = "btn btn-danger" })

        @Html.ActionLink("Zpět", "Index", new { }, new { @class = "btn btn-default" })
    </div>
</div>