@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@using Newtonsoft.Json.Linq
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="lowerPanelContainer">
        <div id="ContentContainer">

            <dl>
                <dt>ID e-mailu:</dt>
                <dd>@ViewData["Id"]</dd>
                <dt>Datum odeslání:</dt>
                <dd>@ViewData["Date_Send"]</dd>
                <dt>Stav:</dt>
                <dd>@ViewData["Status"]</dd>
                @if(!String.IsNullOrEmpty((string)ViewData["SMTP_Error"]))
                {
                    <dt>SMTP chyba:</dt>
                    <dd>@ViewData["SMTP_Error"]</dd>
                }
                <dt>Odesílatel:</dt>
                <dd>@ViewData["From_Name"] &lt;@ViewData["From_Email"]&gt;</dd>
                <dt>Příjemci:</dt>
                <dd>
                    @foreach(JToken recipient in (JToken)ViewData["To"])
                    {
                        @Html.Raw(recipient["DisplayName"] + " &lt;" + recipient["Address"] + "&gt;")<br />
                    }
                </dd>
                @if(((JToken)ViewData["CC"]).Count() > 0)
                {
                    <dt>Kopie:</dt>
                    <dd>
                        @foreach(JToken copy in (JToken)ViewData["CC"])
                        {
                            @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                        }
                    </dd>
                }
                @if (((JToken)ViewData["Bcc"]).Count() > 0)
                {
                    <dt>Skrytá kopie:</dt>
                    <dd>
                        @foreach (JToken copy in (JToken)ViewData["Bcc"])
                        {
                            @Html.Raw(copy["DisplayName"] + " &lt;" + copy["Address"] + "&gt;")<br />
                        }
                    </dd>
                }
                <dt>Předmět:</dt>
                <dd>@ViewData["Subject"]</dd>
                <dt>E-mail:</dt>
                <dd>@Html.Raw(ViewData["Content"])</dd>
            </dl>

        </div>
    </div>
</div>
