@using FSS.Omnius.Modules.Entitron.Entity.Persona;
@model AjaxPersonaAppRolesForTable
@{
    Page.Title = "Omnius - edit app roles";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "personaRolesModule";
}
@helper CheckboxCell(bool allowed)
{
if (allowed)
{
        <td class="checkboxCell yesCell"><i class="fa fa-check"></i></td>
}
else
{
        <td class="checkboxCell noCell"><i class="fa fa-times"></i></td>
}
}

<style>
    a.trashButton:hover {
        color: salmon;
        text-decoration: none;
    }

    a.trashButton {
        color: white;
    }

    .SavedCarefully {
        color: green;
        font-family: 'Segoe UI';
        font-size: larger;
        font-weight: bold;
    }

    .BadInputMessage {
        color: red;
        font-family: 'Segoe UI';
        font-size: larger;
        font-weight: bold;
    }

    .localCheckbox {
        text-align: center;
        background-color: red;
        align-self: center;
    }
</style>

<div id="upperPanel">
    <div class="panelLabel">Role</div>
    <svg class="backgroundDecoration" width="540px" height="135px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 135 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Role</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>

@using (Html.BeginForm())
{
    <div id="lowerPanel">
        <h4>Role uživatelů pro aplikaci <span class="appName">@Model.AppName</span></h4>
        @Html.HiddenFor(a => a.AppID)
        @Html.HiddenFor(a => a.AppName)
        @if (Model.DeletedCols != null)
        {
            for (int i = 0; i < Model.DeletedCols.Count; i++)
            {
                @Html.HiddenFor(a => a.DeletedCols[i]);
            }
        }

        <div id="koko">
            <button type="submit" name="submitButton" id="buttonSave" class="btn btn-primary" value="save">Uložit</button>
            <button type="submit" name="submitButton" id="buttonAddColumn" class="btn btn-default" value="addRole">Přidat roli</button>
        </div>

        @if (ViewBag.Saved == true)
        {
            <script>
                alert("Uloženo.")
            </script>
        }

        @if (ViewBag.BadNameRole == true)
        {
            <script>
                alert("Nesprávný název role.")
            </script>
        }

        @if (ViewBag.RolesAreEqual == true)
        {
            <script>
                alert("Více rolí nemůže mít stejný název.")
                </script>
        }


        @if (Model.RowHeaders.Count == 0 || Model.ColHeaders.Count == 0)
        {
            for (int i = 0; i < Model.RowHeaders.Count; i++)
            {
                @Html.HiddenFor(a => a.RowHeaders[i].Id)
                @Html.HiddenFor(a => a.RowHeaders[i].Name)
            }
            <div class="modelErrorMessage">Tato aplikace nemá žádné role (tabulka Persona_AppRoles)</div>
        }
        else
        {
            <table id="groupRolesTable" class="table table-bordered table-striped table-omnius">
                <thead>
                    <tr>
                        <th></th>
                        @for (int x = 0; x < Model.ColHeaders.Count; x++)
                        {
                            @Html.HiddenFor(a => Model.ColHeaders[x].IsDeleted)
                            @Html.HiddenFor(a => Model.ColHeaders[x].Id)

                            if (Model.DeletedCols == null || (!Model.DeletedCols.Contains(x)))
                            {
                                <th >
                                    @Html.TextBoxFor(a => a.ColHeaders[x].Name, new { @style = "background-color:transparent; border-style:none; display:block;  text-align:center", @autocomplete = "off" })
                                </th>
                            }
                            else
                            {
                                @Html.HiddenFor(a => a.ColHeaders[x].Name)
                            }
                        }

                       
                    </tr>
                    <tr>
                        <td>

                        </td>
                        @for (int x = 0; x < Model.ColHeaders.Count; x++)
                        {
                            if (Model.DeletedCols == null || (!Model.DeletedCols.Contains(x)))
                            {
                            <td style="align-items:center;" align="center">
                                <button type="submit" name="submitButton" value="removeColumn@(x)" class="btn btn-danger" style="display:block">Odstranit</button>
                            </td>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    

                    @for (int y = 0; y < Model.RowHeaders.Count; y++)
                    {
                        RowHeaderAppRolesForTable user = Model.RowHeaders[y];
                        <tr>
                            @Html.HiddenFor(a => a.RowHeaders[y].Id)
                            @Html.HiddenFor(a => a.RowHeaders[y].Name)

                            <td class="userNameCell">@Html.ValueFor(a => a.RowHeaders[y].Name)</td>

                            @for (int x = 0; x < Model.ColHeaders.Count; x++)
                            {
                                if (Model.DeletedCols == null || (!Model.DeletedCols.Contains(x)))//!Model.ColHeaders[x].IsDeleted)
                                {
                                    <td align="center">@Html.CheckBoxFor(a => a.Data[x][y], new { @class = "localCheckbox", @style = "width:100%; height:100%" })</td>
                                }
                                else
                                {
                                    @Html.HiddenFor(a => a.Data[x][y])
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}