@using FSS.Omnius.Modules.Entitron.Entity.Hermes
@model List<IncomingEmailRule>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Hermes";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "hermesModule";
}
@Html.Partial("~/Views/Hermes/Hermes/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Hermes/Hermes/Decoration.cshtml")
    <div id="ldapMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Přidat pravidlo", "HermesIncomingRule", new { @action = "Create", @mailboxId = ViewData["mailboxId"] }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="lowerPanelContainer">
        <h4 class="variableListTitle">@string.Format("Seznam pravidel pro schránku {0}", ViewData["MailboxName"])</h4>
        <table id="ldapTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col>
                <col>                
                <col width="80">
            </colgroup>
            <thead>
                <tr>
                    <th>Aplikace</th>
                    <th>Blok</th>
                    <th>Workflow</th>
                    <th>Název</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (IncomingEmailRule r in Model.OrderBy(m => m.Application.Name).ThenBy(m => m.BlockName).ThenBy(m => m.WorkflowName).ThenBy(m => m.Name))
                    {
                        <tr>
                            <td>@r.Application.Name</td>
                            <td>@r.BlockName</td>
                            <td>@r.WorkflowName</td>
                            <td>@r.Name</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "HermesIncomingRule", new { @action = "Edit", @mailboxId = ViewData["mailboxId"], @id = r.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "HermesIncomingRule", new { @action = "Delete", @mailboxId = ViewData["mailboxId"], @id = r.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete pravidlo smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Nemáte nakonfigurována žádná pravidla</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
