@model FSS.Omnius.FrontEnd.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="form-group">
        <h4 class="col-md-12">Change password</h4>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Change Password" />
        </div>
    </div>
}
@section Scripts {
    
}
