@model FSS.Omnius.Modules.Entitron.Entity.Persona.User
@{Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";}
<h2>@Html.DisplayFor(x => x.DisplayName)</h2>
<div>
    
    <div class="form-group col-md-6">
        <div class="form-group">
            <div>
                <label class="control-label">
                    Name
                </label>
            </div>
            <div>
                <p>@Model.DisplayName</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    User name
                </label>
            </div>
            <div>
                <p>@Model.UserName</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Company
                </label>
            </div>
            <div>
                <p>@Model.Company</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Department
                </label>
            </div>
            <div>
                <p>@Model.Department</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Team
                </label>
            </div>
            <div>
                <p>@Model.Team</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Job
                </label>
            </div>
            <div>
                <p>@Model.Job
            </div>
        </div>
    </div>

    <div class="form-group col-md-6">
        <div class="form-group">
            <div>
                <label class="control-label">
                    Address
                </label>
            </div>
            <div>
                <p>@Model.Address</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Email
                </label>
            </div>
            <div>
                <p>@Model.Email</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Phone
                </label>
            </div>
            <div>
                <p>@Model.MobilPhone</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Work phone
                </label>
            </div>
            <div>
                <p>@Model.WorkPhone</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    AD group users
                </label>
            </div>
            <div>
                <p>@string.Join(", ", Model.ADgroup_Users.Select(x => x.ADgroup))</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Last login
                </label>
            </div>
            <div>
                <p>@Model.LastLogin</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label">
                    Local user
                </label>
            </div>
            <div>
                @if (@Model.isLocalUser)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </div>
        </div>
    </div>
</div>
