@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="upperPanel">
    <div class="panelLabel">Nexus</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 295 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/Images/watcheye_small.png" />
    <div class="tileMenuArea">
        <div class="tile-justified">
            <div class="tile-cell">
                <a href="/Nexus/LDAP">
                    <div id="nexusMenuLDAP" class="tileMenuItem">
                        <div class="buttonLabel">LDAP</div>
                        <div class="fa fa-book"></div>
                        <div class="itemCount">@ViewData["LdapServersCount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/WS">
                    <div id="nexusMenuWebServices" class="tileMenuItem">
                        <div class="buttonLabel">WebServices</div>
                        <div class="fa fa-globe"></div>
                        <div class="itemCount">@ViewData["WebServicesCount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/ExtDB">
                    <div id="nexusMenuExtDB" class="tileMenuItem">
                        <div class="buttonLabel">Externí databáze</div>
                        <div class="fa fa-database"></div>
                        <div class="itemCount">@ViewData["ExtDatabasesCount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/WebDAV">
                    <div id="nexusMenuWebDav" class="tileMenuItem">
                        <div class="buttonLabel">WebDAV</div>
                        <div class="fa fa-folder"></div>
                        <div class="itemCount">@ViewData["WebDavServersCount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/API">
                    <div id="nexusMenuAPI" class="tileMenuItem">
                        <div class="buttonLabel">API</div>
                        <div class="fa fa-cloud-upload"></div>
                        <div class="itemCount">@ViewData["APICount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/TCPSocket">
                    <div id="nexusTCPSocket" class="tileMenuItem">
                        <div class="buttonLabel">TCP sockets</div>
                        <div class="fa fa-play-circle-o fa-rotate-270"></div>
                        <div class="itemCount">@ViewData["TCPSocketCount"]</div>
                    </div>
                </a>
            </div>
            <div class="tile-cell">
                <a href="/Nexus/RabbitMQ">
                    <div id="nexusRabbitMQ" class="tileMenuItem">
                        <div class="buttonLabel">RabbitMQ</div>
                        <div class="fa fa-list-alt"></div>
                        <div class="itemCount">@ViewData["RabbitMQCount"]</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Nexus</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
