@model FSS.Omnius.Modules.Entitron.Entity.Nexus.WebDavServer
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}

@using (Html.BeginRouteForm("Nexus", new { @action = "Save" }, FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@(!object.ReferenceEquals(null, Model) && Model.Id > 0 ? "Úprava WebDAV serveru" : "Nový WebDAV server")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Název:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UriBasePath, "Bázové URL:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UriBasePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UriBasePath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnonymousMode, "Anonymní přihlášení:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AnonymousMode)
                    @Html.ValidationMessageFor(model => model.AnonymousMode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthUsername, "Uživatel:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 has-feedback">
                @Html.EditorFor(model => model.AuthUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthUsername, "", new { @class = "text-danger" })
                <span class="form-control-feedback glyphicon glyphicon-asterisk"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthPassword, "Heslo:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 has-feedback">
                @Html.EditorFor(model => model.AuthPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.AuthPassword, "", new { @class = "text-danger" })
                <span class="form-control-feedback glyphicon glyphicon-asterisk"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @type = "hidden" } })
                <input type="submit" value="Uložit" class="btn btn-omnius-blue" />
            </div>
        </div>
    </div>
}

@section Scripts {
    
}
