@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<WebDavServer>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
@Html.Partial("~/Views/Nexus/Nexus/Header.cshtml")
<div id="lowerPanel">
    @Html.Partial("~/Views/Nexus/Nexus/Decoration.cshtml")
    <div id="webDavMenuArea" class="moduleSubMenuArea">
        @Ajax.RouteLink("Add WebDAV server", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="lowerPanelContainer">
        <table id="webDavTable" class="table table-bordered table-striped table-responsive table-omnius">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col width="180">
                <col width="140">
                <col width="140">
                <col width="80">
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Base URL</th>
                    <th>Anonymous login?</th>
                    <th>User</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (WebDavServer l in Model)
                    {
                        <tr>
                            <td>@l.Id</td>
                            <td>@l.Name</td>
                            <td>@l.UriBasePath</td>
                            <td class="text-center">@(l.AnonymousMode == true ? "Yes" : "No")</td>
                            <td>@l.AuthUsername</td>
                            <td>@(l.AuthPassword != null && l.AuthPassword.Length > 0 ? "********" : "")</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Detail", @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Edit" })
                                @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = l.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Delete", @onclick = "return confirm('Really want to delete?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">There are no WebDAV server</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
