@model FSS.Omnius.Modules.Entitron.Entity.Nexus.Ldap
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div>
    <h4>Detail záznamu</h4>
    <table class="details-list table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Domain_Ntlm)</td>
            <td>@Html.DisplayFor(model => model.Domain_Ntlm)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Domain_Kerberos)</td>
            <td>@Html.DisplayFor(model => model.Domain_Kerberos)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Domain_Server)</td>
            <td>@Html.DisplayFor(model => model.Domain_Server)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Bind_User)</td>
            <td>@Html.DisplayFor(model => model.Bind_User)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Bind_Password)</td>
            <td>@(Model.Bind_Password.Length > 0 ? "********" : "")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Use_SSL)</td>
            <td>@(Model.Use_SSL == true ? "ano" : "ne")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Is_Default)</td>
            <td>@(Model.Is_Default == true ? "ano" : "ne")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Active)</td>
            <td>@(Model.Active == true ? "ano" : "ne")</td>
        </tr>
</table>
</div>
<p class="nexusDetailsButtons">
    @Ajax.RouteLink("Upravit", "Nexus", new { @action = "Edit", @id = Model.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus" })
    @Html.RouteLink("Smazat", "Nexus", new { @action = "Delete", @id = Model.Id }, new { @class = "btn btn-nexus-red" })
</p>
