@using FSS.Omnius.Modules.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<Ldap>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
@Html.Partial("~/Views/Nexus/Nexus/Header.cshtml")
<div id="nexusLowerPanel">
    @Html.Partial("~/Views/Nexus/Nexus/Decoration.cshtml")
    <div id="ldapMenuArea">
        @Ajax.RouteLink("Přidat LDAP server", "Nexus", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-plus" })
        @Ajax.RouteLink("Uživatelé", "Nexus", new { @action = "Search" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-search" })
        @Ajax.RouteLink("Skupiny", "Nexus", new { @action = "Groups" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-nexus fa fa-object-group" })
    </div>
    <div id="nexusLowerPanelContainer">
        <table id="ldapTable" class="table table-bordered table-striped table-responsive">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="60">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NTLM Doména</th>
                    <th>Server</th>
                    <th>SSL</th>
                    <th>Výchozí</th>
                    <th>Aktivní</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (Ldap l in Model)
                    {
                        <tr>
                            <td>@l.Id</td>
                            <td>@l.Domain_Ntlm</td>
                            <td>@l.Domain_Server</td>
                            <td class="text-center">@(l.Use_SSL == true ? "ano" : "ne")</td>
                            <td class="text-center">@(l.Is_Default == true ? "ano" : "ne")</td>
                            <td class="text-center">@(l.Active == true ? "ano" : "ne")</td>
                            <td class="table-row-action">
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Detail", @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye ico-only btn btn-default", @title = "Detail" })
                                @Ajax.RouteLink(" ", "Nexus", new { @action = "Edit", @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil ico-only btn btn-primary", @title = "Upravit" })
                                @Html.RouteLink(" ", "Nexus", new { @action = "Delete", @id = l.Id }, new { @class = "fa fa-times ico-only btn btn-danger", @title = "Smazat", @onclick = "return confirm('Opravdu chcete záznam smazat?')" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Nemáte nakonfigurovaný žádný LDAP server</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ContentContainer"></div>
    </div>
</div>
