@using FSS.Omnius.Entitron.Entity.Nexus
@model System.Data.Entity.DbSet<Ldap>
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@{
    Page.Title = "Omnius Nexus";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "nexusModule";
}
<style type="text/css">
    .top-panel {
        position: relative;
        top: 75px;
        margin-left: 225px;
        margin-bottom: 75px;
        background: #3a3a3a;
        overflow: hidden;
    }
    .top-panel-content {
        position: relative;
        z-index: 2;
        padding: 1.5em 52px;
    }
    .bottom-panel {
        margin-left: 225px;
        padding: 0px 52px;
    }
    .panelLabel {
        padding: 25px 52px;
        color: #fff;
        font-size: 18px;
        font-family: FatTec;
        float: left;
        width: 420px;
    }
    .backgroundDecoration {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    .decorationWatcheye {
        position: absolute;
        left: 19px;
        top: 56px;
        width: 24px;
        height: 24px;
    }
    .tabs {
        position: relative;
        z-index: 2;
        padding: 25px 55px;
    }
    .top-panel table th, .top-panel table td {
        color: #fff;
    }
</style>

<div class="top-panel">
    <div class="panelLabel">Nexus</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="/Content/images/watcheye_small.png">
    <div class="tabs">
        <a href="/Nexus/LDAP/Index" class="btn btn-primary">
            <span class="fa fa-book"></span>&nbsp;&nbsp;
            LDAP
        </a>
        <a href="/Nexus/WS/Index" class="btn btn-default">
            <span class="fa fa-globe"></span>&nbsp;&nbsp;
            WebServices
        </a>
        <a href="/Nexus/ExtDB/Index" class="btn btn-default">
            <span class="fa fa-database"></span>&nbsp;&nbsp;
            Externí databáze
        </a>
    </div>
    <div class="top-panel-content">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NTLM Doména</th>
                    <th>Server</th>
                    <th>SSL</th>
                    <th>Aktivní</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
            @if(Model.Count() > 0)
            {
                foreach(Ldap l in Model)
                {
                    <tr>
                        <td>@l.Id</td>
                        <td>@l.Domain_Ntlm</td>
                        <td>@l.Domain_Server</td>
                        <td>@(l.Use_SSL == true ? "ano" : "ne")</td>
                        <td>@(l.Active == true ? "ano" : "ne")</td>
                        <td>
                            @Ajax.ActionLink("", "Detail", new { @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-eye btn btn-default", @title = "Detail" })
                            @Ajax.ActionLink("", "Edit", new { @id = l.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "fa fa-pencil btn btn-primary", @title = "Upravit" })
                            @Html.ActionLink("", "Delete", new { @id = l.Id }, new { @class = "fa fa-times btn btn-danger", @title = "Smazat" });
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Nemáte nakonfigurovaný žádný LDAP server</td>
                </tr>
            }
            </tbody>
        </table>
        @Ajax.ActionLink("Pøidat LDAP server", "Create", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-primary" })
    </div>
</div>
<div id="ContentContainer" class="bottom-panel">


</div>

